[2021-11-07 00:44] trhumphries commented on #492
Same result with a json formatted file.

[2021-11-07 14:44] luhring commented on #492
Can you upload the Syft JSON file?

And it's the same error message from your previous message? `failed to catalog: unable to process input for scanning: 'sbom:./atlas-backup.sbom'`

My goal here is to get to a point where I can produce this on my computer. **If you have a container image you can share** that exhibits this behavior, that'd be ideal!

[2021-11-07 22:49] luhring commented on #444
I see that the CPE `cpe:2.3:a:docker:docker:-:*:*:*:*:*:*:*` is listed for https://nvd.nist.gov/vuln/detail/CVE-2017-7297.

Are you thinking this is an error in the NVD data?

[2021-11-07 22:55] luhring commented on #446
Good catch! I see no sign of https://nvd.nist.gov/vuln/detail/CVE-2002-1647 being related to https://www.npmjs.com/package/slash.

@wagoodman It looks like another case of false positive via `*` vendor:

[code]

[2021-11-07 23:02] luhring commented on #445
Good catch!

The vulnerability record's CPE has `rust` for its `target_sw` field value. The `target_sw` field for the artifact here is set to `*` — and `*` matches any value.

My two cents is that we should focus more on our use of `*` for the `vendor` field.

[2021-11-07 23:09] luhring commented on #450
Good find... I see that Syft is generating a few CPEs that "refer to" Kubernetes _directly_, via its current generation method:

[code]

🤔  @wagoodman Do you think it'd be easy to solve for this given the current state of our CPE generation logic?

[2021-11-07 23:15] luhring commented on #491
Thanks @Karreg! 😍

I think this is another case of how we generate CPEs with subselections of words in a name, where important context is accidently truncated off.

This is an excerpt of the JSON you pasted above:

[code]

So sometimes we include the full "python redis", but in other cases, we've shortened the values to just "redis". I believe this is similar in cause to https://github.com/anchore

[2021-11-08 07:21] TheDiveO commented on #444
yes, as the cve is about rancher.

[2021-11-08 13:06] developer-guy commented on #232
I want to work on this issue, can you please assign it to me @luhring? :)

[2021-11-08 13:31] luhring commented on #444
Got it, thanks!

This is interesting. Grype is designed to treat NVD data as authoritative. I agree that this CPE's presence in the NVD record is worth examining further, and potentially worth reporting an issue to NVD. But if I'm understanding correctly, unlike other false positives, this case doesn't necessarily seem like a bug in Grype's _matching logic_, even though Grype's output is affected

[2021-11-08 14:37] TheDiveO commented on #444
1. "upstream" always makes sense, but might be on a different timescale, as this surely requires further analysis and coordination to come up not with a band-aid-fix but something permanent.
2. avoids users maintaining their own local ignore configurations, with all the problems of cross-project sharing, not least in larger companies. Could also be the basis for 1. to demonstrate a working archite

[2021-11-08 15:24] cdupuis opened #495 "False positive: npm packages report unrelated CVEs"
Following `Dockerfile`:

[code]

will report the following 2 CVEs which I believe are false positives based on too relaxed CPE matching:

[code]

[2021-11-08 15:30] trhumphries commented on #492
Not sure wha change. However, I ran my Azure Pipeline this morning to collect the json SBOM to send you a copy and Grype no longer hangs up. It generate the report as it should.

[2021-11-08 20:19] TheDiveO commented on #445
Judging from my ignore file I can second that. It contains several unfiled false positives. Do you want them in a batch here?

[2021-11-08 20:20] TheDiveO commented on #495
#445 #446

[2021-11-08 20:31] #495 closed

[2021-11-08 20:57] cdupuis commented on #495
Managed to score 100% duplicates. Sorry for the noise. Closing.

[2021-11-08 21:17] luhring commented on #495
No worries! Glad we're learning more about our FPs!

[2021-11-08 21:22] luhring commented on #445
That'd be great, @TheDiveO, thanks. Whatever method is easiest for reporting. The more data we get about this particular cause of FPs, the better we can handle it.

[2021-11-08 21:37] luhring commented on #492
@trhumphries That's great news! In that case, we can close this issue? And we can always re-open if you see the problem crop up again.

[2021-11-08 21:39] #492 closed

[2021-11-09 19:21] thediveo opened #496 "npm false positive CVEs"
More false positives turned up in the web UI part of my [lxkns](https://github.com/thediveo/lxkns) project.

[code]

[2021-11-09 22:18] luhring commented on #496
Thanks @TheDiveO! Keep 'em coming.

[2021-11-10 09:43] dakaneye commented on #398
@wagoodman based on my analysis of how the RPM comparison code was written, I think the behavior is not unexpected, and is caused by what you said (the length of the string, more or less).

My analysis:
[code]

This case is however isolated to RPM version comparisons only, so it shouldn't affect other types of package version comparisons.

We can certainly change the behavior, but it does appear t

[2021-11-10 10:53] dakaneye commented on #431
Hi @mathrock thanks for reporting the issue!

I've taken a look at reproducing the issue you find and I've successfully done so. I built the same image and instead of running grype directly on the image, I ran syft first to see what was coming back for each package (syft is the cataloging mechanism that grype uses before it tries to match vulnerabilities, and is also what generates CPEs for each p

[2021-11-10 11:09] dakaneye commented on #431
Upon closer inspection it looks like this CPE is being generated here: https://github.com/anchore/syft/blob/main/syft/pkg/cataloger/common/cpe/java.go.

It appears that this code is generating the possible vendors and product names from the package group IDs and artifact IDs. This can come from the pom.xml or the manifest itself (jar file) as far as I can tell.

If there's a way to make this more

[2021-11-10 12:36] luhring commented on #431
@dakaneye Yeah that's a good question. To me, this is the same category of false positive as #450, where our string manipulation during CPE generation ends up producing matches against larger projects. We'll need to think on the best way to handle this. 🤔

[2021-11-10 18:56] kenlavbah commented on #490
https://github.com/anchore/grype/issues/496 appears to be experiencing the same

[2021-11-10 19:12] luhring commented on #490
Thanks for the report, @kenlavbah! Do you have an image URL or Dockerfile handy we can use to reproduce this?

Also, this might not resolve the issue, but there have been several [Grype releases](https://github.com/anchore/grype/releases) and a few [Syft releases](https://github.com/anchore/syft/releases) since the versions reported in the description — it'd be worth updating, just at a minimum.

[2021-11-10 19:14] kenlavbah commented on #490
@luhring - thank you for the quick reply!

I'll update first, and see if it flags the same CVE. If not, I'll paste a docker file here for repro.

[2021-11-12 13:09] luhring commented on #466
@cdupuis I'm now seeing vulnerabilities for `ubuntu:rolling` and `ubuntu:21.10`. Can you check if you're seeing what you expect now?

[2021-11-12 14:53] kenlavbah commented on #490
@luhring - Dockerfile and  files located here https://github.com/ConnorDY/npm-jenkins-cve-false-positive-reproduction

[2021-11-12 14:55] kenlavbah commented on #490
Tested with the the following versions, and repo'd

[code]

[code]

[2021-11-12 15:29] cdupuis commented on #466
@luhring, yes, I noticed this yesterday, too. I think we can close this issue as fixed.

[2021-11-12 15:29] #466 closed

[2021-11-14 21:46] nwl commented on #315
This can be closed no?

[2021-11-15 18:29] TheDiveO commented on #496
And another one, where the CVE origins can't get their act correctly and make another mess: a match of `CVE-2015-5237` on google.golang.org/protobuf ... which actually is the golang version, where the CVE seems to refer to https://github.com/protocolbuffers/protobuf, see also the CVE reference to https://github.com/protocolbuffers/protobuf/issues/760 which is the C version, but not the Go implemen

[2021-11-15 22:32] spiffcs opened #589 "PHP Support"
With [this](https://github.com/anchore/syft/pull/609) PR added to syft grype-db might need some changes to help support php.

This issue is meant to track those changes.

[2021-11-18 11:10] vidyajothiraman opened #502 "Queries on Grype"
**What happened**: We have a docker image of our product built on Redhat UBI latest version and ran Grype over it.
1.  It shows Redhat packages as  vulnerable, even though it is latest UBI version and it passes redhat certification.
2. It picks all older CVE, which db is it looking into and picking up as we have latest softwares.
3. For few it says wont fix, please help to understand what it means

[2021-11-18 13:35] luhring commented on #502
Hi @vidyajothiraman! Thanks for the questions.

It's possible for official images from vendors to have unresolved vulnerabilities. Are you seeing any specific vulnerabilities you believe are being reported incorrectly?

For a reference point, I just ran a scan of `redhat/ubi8:latest`, and I see 79 vulnerabilities.

Grype's vulnerability data is aggregated from several different sources, including

[2021-11-18 20:13] luhring commented on #395
This will be unblocked once https://github.com/anchore/syft/issues/556 is closed

[2021-11-19 08:10] developer-guy opened #503 "to integrate OPA Gatekeeper's new external data feature by providing grype-provider"
**What would you like to be added**:

Gatekeeper is a customizable admission webhook for Kubernetes that enforces policies executed by the Open Policy Agent (OPA), a policy engine for Cloud Native environments hosted by CNCF.

We had talked about the new design called `ExternalData` in OPA Gatekeeper with @sozercan which is one of the maintainers of the OPA Gatekeeper project in the issue opened f

[2021-11-19 08:14] developer-guy commented on #503
We should enhance this kind of provider thing by using Syft also. How? Syft can generate an SBOM for the container images that we want to validate. Then we can use Grype to analyze this SBOM file to create another provider for it. For example, it might be `syft-provider` idk.

[2021-11-19 08:46] ahrycej opened #504 "tomcat-jdbc.jar vulnerabilities"
**What happened**:
Anchore Enterprise finds vulnerabilities in docker image in tomcat-jdbc.jar (docker image with tomcat 8.5.72)
Grype finds vulnerabilities in docker image in tomcat-jdbc.jar
No version reported
/home/xxx/bin/grype tomcat-runtime-xxx.tar -vvv
...
[0007] DEBUG searching for vulnerability matches for pkg=Pkg(type=java-archive, name=tomcat-jdbc, version=)
[0007] DEBUG found 22 vulner

[2021-11-22 07:02] kkovaletp commented on #476
This issue was fixed some time ago, but returned back. Just letting you know...

[2021-11-22 16:59] #493 closed

[2021-11-23 06:37] developer-guy opened #509 "add documentation about air gap installation support"
**What would you like to be added**:

We had talked with @luhring @wagoodman related to this and decided to add documentation about the air gap installation support of Grype.

**Why is this needed**:

To give information to people who might be interested in setting up Grype in an air gap environment.

**Additional context**:

[2021-11-23 06:52] developer-guy commented on #509
Found this.

https://github.com/anchore/grype#offline-and-air-gapped-environments

[2021-11-24 11:41] vidyajothiraman commented on #502
HI Dan
Thanks very much for your response.  Here are my responses again:
1. It's possible for official images from vendors to have unresolved vulnerabilities. Are you seeing any specific vulnerabilities you believe are being reported incorrectly? ==>Vidya:  I am not able to figure out if they are incorrect, but my understanding was since they are latest UBI they should have been fixed. So if UBI h

[2021-11-24 13:13] luhring commented on #509
Let's re-open this, with the goal of providing better guidance to folks working in air-gapped environments

[2021-11-24 13:18] luhring commented on #509
I think there might be two separate workflows we could outline for users:

1. Fetching the database in advance, and ensuring that it's placed in Grype's cache directory ahead of running Grype.
2. Letting Grype fetch the database on-the-fly, but using a different endpoint for retrieving the database (such as on a private network). Here, we can talk about customizing the database update URL and conf

[2021-11-24 16:30] luhring commented on #502
The exact process depends on the software publisher, and I can't speak for when any particular vulnerabilities will be resolved in the future. Having said that, if the vendor reports "will not fixed", as is the case for many of the vulnerabilities found in `redhat/ubi8:latest`, that's the vendor's way of expressing that you should not expect the vulnerability to ever be resolved.

If you'd like Gr

[2021-11-24 17:33] spiffcs opened #510 "Grype Busy Box Vulnerabilities omission"
**What happened**:

When scanning `alpine:3.10` I saw no busy box vulnerabilities:
[code]

**What you expected to happen**:
When scanning `alpine:3.10` I expected to see the following vulnerabilities:
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Output of `grype version`:latest
- OS (e.g: `cat /etc/os-release` or

[2021-11-24 18:09] luhring commented on #504
Thanks @ahrycej!

It looks like we're surfacing packages without a version. Here's the Grype JSON for a scan I just ran on `tomcat:8.5.72`:
[tomcat-8.5.72.grype.json.tar.gz](https://github.com/anchore/grype/files/7597920/tomcat-8.5.72.grype.json.tar.gz)

This needs more investigation. cc: @wagoodman

[2021-11-24 18:20] luhring commented on #490
@kenlavbah Thanks! I was able to reproduce this. And I think you're right about the link to #496.

Thanks again for the report!

[2021-11-25 03:56] spiffcs commented on #510
We determined that this has to do with the feed service and grype-db not being built with the vulnerabilities populated in the correct namespace.

For `centos:8` issues reported by team members a refresh of grype-db to the latest version shows a list with results on par with the v1 scanner. I will keep this issue open until we set a fix in for the feed service that grype's database consumes.

[2021-11-30 10:14] cdupuis opened #511 "Error scanning alpine:3.15"
**What happened**:

Running `grype alpine:3.15` results in the following output containing some error logs:

[code]

**What you expected to happen**:

No errors to be reported

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Output of `grype version`:

[code]

- OS (e.g: `cat /etc/os-release` or similar): MacOS X

[2021-11-30 13:33] luhring commented on #511
Thanks @cdupuis.

Taking notes — There are at least two issues here...

1. Grype is outputting "ERROR" level log entries but then exiting with a `0` status code.
2. Grype is getting vulnerability data with unexpected version constraint values like `< 1.34.0_r0` (note the underscore).

[2021-11-30 23:47] luhring commented on #511
It looks like this might be caused by a typo in Alpine's SecDB: line 278 of the file https://secdb.alpinelinux.org/v3.15/main.yaml specifies the version `1.34.0_r0`, which is unlike any other version string seen in Alpine's vulnerability data, where `r` numbers are preceded by a dash (`-`). And running the command `apk version --check '1.34.0_r0'` returns an exit code of `1`.

And it looks like th

[2021-12-01 13:16] luhring commented on #511
Opened an issue with Alpine: https://gitlab.alpinelinux.org/alpine/aports/-/issues/13259

Also a note: regardless of if Alpine adjusts its data, we still have to decide how to handle the issue of Grype logging errors but exiting `0`.

[2021-12-02 10:47] srbala commented on #412
I have created number of PRs related in https://github.com/anchore/anchore-engine/pull/1326, this is ping back

[2021-12-02 10:51] sparrowt commented on #372
Maybe the `-it` and `-v ...sock` parts of the command I mentioned here would help? https://github.com/anchore/grype/issues/227#issuecomment-897627074

[2021-12-02 10:51] sparrowt commented on #388
Suggested example command here: https://github.com/anchore/grype/issues/227#issuecomment-897627074

[2021-12-02 13:28] luhring commented on #511
The Alpine folks [updated the data](https://gitlab.alpinelinux.org/alpine/aports/-/commit/ede854ea31515f56c5c73331c4a951e555347c56). When I checked this morning (after last night's database build), it looks like the primary issue is resolved:

[code]

[2021-12-02 15:46] zhill opened #515 "Add support for scanning Kali linux"
**What would you like to be added**: Vulnerability matching for Kali linux

**Why is this needed**: Broader distro support

**Additional context**: Per https://github.com/anchore/anchore-engine/issues/1305 this may be able to use debian security data, but needs to be confirmed that the package versions are indeed directly comparable.

This originated from https://github.com/anchore/anchore-engine/

[2021-12-02 16:27] westonsteimel commented on #444
I reported this to the NVD team and just got confirmation from them that they have removed the docker CPE from CVE-2017-7297, so hopefully that update will trickle through and this one will fall off the grype report

[2021-12-02 16:28] spiffcs commented on #444
Thanks @westonsteimel that's a huge help.

[2021-12-02 17:14] luhring commented on #444
Wow @westonsteimel — awesome! 👏

[2021-12-02 19:41] wagoodman opened #516 "Accept simple package list as input"
Today we accept syft JSON as input and in the near future will allow for SPDX and CycloneDX. However, we can lower the bar further by allowing a simple CSV file list of package-version pairs.

[code]

[2021-12-02 22:18] luhring commented on #516
I love this.... ❤️

Offhand ideas:

1. Maybe we allow for specifying the **ecosystem**, too (e.g. "npm") — that can go a long way to reduce false positives
2. If the data structure were kept simple enough (e.g. just a tuple of scalars), we could potential support a large number of _file_ formats without much code (e.g. CSV, TSV, JSON, YAML, pretty much anything)

[2021-12-03 21:03] spiffcs commented on #515
Thanks @zhill! We've added this to our project so the team can talk about implementation and get it into our workflow.

[2021-12-04 00:07] luhring commented on #315
Validated using image `registry.suse.com/suse/sle15:15.1.6.2.508`, seeing vulnerabilities with data source values like `https://www.suse.com/security/cve/CVE-2021-22946`.

[2021-12-04 00:07] #315 closed

[2021-12-04 01:03] zhill commented on #515
Much appreciated @spiffcs!

[2021-12-04 07:05] westonsteimel commented on #444
@luhring and @spiffcs, I was still seeing this one show up when scanning syft and grype with grype last night.  I didn't have a chance to see if the NVD modified JSON feed is updated yet (was going to but seem to have messed up my Linux install 😬), but it usually doesn't take more than 24 hours for that to happen.  Do either of you happen to know how long it takes for Anchore's feed service to upd

[2021-12-04 12:29] luhring commented on #444
@westonsteimel Interesting! Here are the steps I just did:

1. `git clone git@github.com:TheDiveO/lxkns.git`
2. `cd lxkns`
3. `grype .`

This is what I get:

[code]

When you get up and running again, I'm curious what you see.

You're exactly right — we run the database build nightly, so I wouldn't expect data changes to take any more than 24 hours to happen.

[2021-12-04 13:16] westonsteimel commented on #444
@luhring thanks for taking a look!  I'll let you know what I find when I have a chance to run it again.

[2021-12-04 13:21] TheDiveO commented on #444
are you aware of the `.grype.yaml` file in the root of the lxkns repository?

[2021-12-04 13:32] luhring commented on #444
@TheDiveO I wasn't! 🤦  Thanks for pointing that out.

However, it looks like CVE-2017-7297 is legitimately not being matched any more, even with the corresponding ignore rule removed from `.grype.yaml`. Are you seeing the same thing?

[2021-12-04 15:26] TheDiveO commented on #444
@luhring 🎉 can confirm: one down...

[2021-12-04 15:26] #444 closed

[2021-12-04 16:51] westonsteimel commented on #444
I can confirm all is good for me as well.  I suspect it was just a timing issue as when I ran in my evening (GMT) it was likely before the Anchore feed update ran.

[2021-12-04 22:15] westonsteimel commented on #496
@luhring, one thing that might help for Go in particular would be to make use of the information coming from [The Go Vulnerability Database](https://github.com/golang/vulndb) and the corresponding go module [x/vuln](https://pkg.go.dev/golang.org/x/vuln).  In this case CVE-2015-5237 is already identified as a false positive there: https://github.com/golang/vuln/blob/f553aa4445846cef9869d51edc1da637

[2021-12-05 06:57] TheDiveO commented on #496
Yet the false positives I reported here are mostly hitting the npm world, except for the lately mentioned protobuf-related Go mod false positive. I find it slightly worrysome that all ecosystems will/would need to maintain their own false positive "defense shields" to deflect the sometimes mediocre quality of NVD/* originating CVE information, where there seems to be a fondness of using "*" much t

[2021-12-05 11:18] samj1912 opened #519 "Add support for reading attached SBOMs to an image in cosign format"
**What would you like to be added**:

cosign is a popular image signing tool that also has a well-spec'd way of attaching SBOMs to an output image. Grype should take this information into account when an image is given as input and if the cosign attached SBOM contains grype compatible SBOM formats, it should try and use those for scanning.

**Why is this needed**:

This allows users to attach an S

[2021-12-05 11:22] samj1912 opened #520 "Add support for reading SBOMs on the image attached by buildpacks"
**What would you like to be added**:

[Buildpacks](https://buildpacks.io/) is a CNCF project that can create secure and minimal images from source code. It currently has a well-spec'd way of attaching SBOMs to the output image. Grype should use this information to load the attached image SBOMs for vuln. matching. See https://github.com/buildpacks/spec/blob/main/buildpack.md#software-bill-of-materi

[2021-12-05 11:22] developer-guy commented on #519
I'm so impressed and jealous 🤩 please let me know if I can help about anything 🙋🏻‍♂️

[2021-12-06 01:06] luhring commented on #496
This is a great idea @westonsteimel, thanks! 👍

I don't think I understand this fully, but I don't think it's necessary for all ecosystems to maintain the same kind of list. Here we have a problem, where the largest bottleneck is dirty data. Ideally, all ecosystem's vulnerability data is in good shape, but in practice it's not. Given that, I'd say consumers of this data (like Grype) should take an

[2021-12-06 02:00] luhring commented on #519
I like this! We had talked about something similar for if there were SBOM _attestations_ available for the specified image. But attachments are good, too. @developer-guy feel free to take a stab at it — want me to assign you? 😎

[2021-12-06 02:02] luhring commented on #519
I'd think we'd ultimately want to support all 3 of the SBOM formats:

- Syft (already supported)
- SPDX -> #395
- CycloneDX -> #481

[2021-12-06 07:27] TheDiveO commented on #496
What I'm referring here to is "cross polution", or in older terms, "clan liability", due to what you term "dirty data". As we won't have an ideal world, this means that a single act truely related to only one package in one ecosystem now causes lots of additional work in not only another, but even in several cases all other ecosystems. And that's because the database origin does sloppy work, causi

[2021-12-06 09:18] samj1912 commented on #519
Happy to help as well :)

[2021-12-06 14:54] wagoodman commented on #520
Interesting! Today's path for getting SBOM information is from syft (either by cataloging on the spot, or using syft to decode SBOM documents for grype's purposes). Since all of the formats in question are already supported in terms of our decoding ability (or will soon be supported) this seems to be more of a "how do we request and handle transport of the SBOM bytes" first. This hints at adding c

[2021-12-06 14:55] luhring commented on #519
@samj1912 That'd be great! 🙏

[2021-12-06 15:52] samj1912 commented on #520
@wagoodman thanks for the detailed feedback! I am assuming we would require something similar for #519 where the SBOM is attached in the cosign format and introduce `grype cosgin-sbom:my/image:latest` ?

Alternatively, we could also possibly auto-detect if an image has cosign/buildpacks sbom based on image metadata. Potentially this auto-detect behavior can be guarded by a flag on the CLI/grype co

[2021-12-07 16:53] wagoodman commented on #520
I believe so, yup. I might take a pulse on the various ways SBOMs are intersecting with all-things-OCI to see what makes sense from a naming-perspective for all of these new schemes.

We do have an auto-detect execution path if no scheme is given (so this wouldn't be an alternative per se). This could be amended to include cosign/buildpacks, but I think that's dependent on the specifics of the beh

[2021-12-07 20:34] spiffcs commented on #388
Ahh nice thanks @sparrowt. Commenting here so I can come back and add this documentation when I get a spare moment.

[2021-12-08 12:36] Dentrax opened #522 "Make timestamp in output configurable (so that results are more reproducible)"
**What happened**:

grype generates different output content for the same image, which breaks the reproducibility.

Motivation comes from the https://github.com/in-toto/attestation/issues/58 to put output result digest in the vuln spec. _cc: @developer-guy_

Not sure whether this is intentional or time/map object related.

**What you expected to happen**:

All the output results for the exactly sa

[2021-12-08 12:57] luhring commented on #522
Hi @Dentrax, thanks for the issue!

I saw you ran this command:

[code]

The CycloneDX output contains data that's known to be nondeterministic, like a timestamp. Because of this, there's no way to expect the digests of two scans to be identical.

I see you ran Trivy with a template specified. You can do the same thing with Grype, and this gives you enough control of Grype's output to ensure that

[2021-12-08 13:14] Dentrax commented on #522
I tired to pass `--output json` flag as you can see in the issue, but it produces non-deterministic digests too. I think it's related to what you said for cyclonedx. (timestamp etc.)

@luhring Ability to pass custom templates would make sense!

[2021-12-08 13:18] luhring commented on #522
Cool!

For how to use templates with Grype, see: https://github.com/anchore/grype#using-templates

For the JSON output format (and possibly others), I think it's worth a discussion on if we want to modify the format to become deterministic. This would mean that we lose metadata like timestamps, but maybe that's okay. 🤔

[2021-12-08 13:25] luhring commented on #522
Another thought... in the name of reproducible results, even with code changes to Grype's output formats, I think we should document the additional steps needed to be performed **_by the user_** in order to guarantee a reproducible result, such as:

- obtaining the vulnerability database ahead of time, and telling Grype not to update the database at execution time
- ensuring that the scan target i

[2021-12-08 15:21] Dentrax commented on #522
Sounds so cool! Moreover, by performing this actions, maybe we can upload the _deterministic_ scan result _digest_ to [fulcio](https://github.com/sigstore/fulcio). 🤔

So we can ensure any image `foo@sha256:bar` in this case, produces exactly `baz` _scan result digest_. Not so sure what we can do it later, but it would be a cool idea. cc: @dlorenc

[2021-12-08 16:18] luhring commented on #522
That's interesting. Would we want to upload the scan signature+digest to Rekor? I'm not familiar with how this would fit into Fulcio yet.

---

There's another important point about reproducibility here: A given fixed image digest **should be scanned frequently**, and with the latest vulnerability data available at the time, because new vulnerabilities are discovered every day (and, even previousl

[2021-12-08 17:57] jbauernberger opened #523 "panic: runtime error: invalid memory address or nil pointer dereference (deb package parsing)"
**What happened**:

scanned a directory full of source packages downloaded with `apt-get source <package>` which resulted in:

[code]

**What you expected to happen**:

...

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Output of `grype version`:

Application:          grype
Version:              0.26.1
Syft Version:

[2021-12-08 19:32] wagoodman commented on #523
I think the problem is here: https://github.com/anchore/syft/blob/main/syft/pkg/cataloger/deb/cataloger.go#L141

Which should be:
[code]

I'll update and try to get a test in for this.

[2021-12-08 20:50] Dentrax commented on #522
My bad, I meant Rekor. 🙈

Oh, now I clearly see the concern and why we should not assert the digests. But what if we are using the same vuln-db version? Let's assume we have the _vuln-db_ that versioned `v1`. And 2 same images with the same digests. In this case, would it make sense to assert that all scan results have the same digest?

So we can push a tlog to Rekor such as: _I scanned the image

[2021-12-08 21:48] luhring commented on #522
Yup, exactly! We _would_ be able to expect reproducible scan results in this particular scenario.

Yeah, I like this. And IMHO we should also provide more information about the vulnerability database, including its digest.

I think we **should** strive for reproducibility 💯 under the right circumstances. And we should think about how people will consume these kinds of vulnerability scan attestatio

[2021-12-09 00:45] samj1912 commented on #520
Thanks, I will try to join the community meeting tomorrow and introduce myself and this issue to the wider community :)

[2021-12-09 06:44] vchinchambekar opened #525 "Grype scan issue "unexpected page size""
Hi All,

I was trying to scan docker image tar file 1.2GB size and getting "unexpected page size" error.
Could you guys help me on this issue. Thanks in advance.

----------------------------------------------------------------
 ✔ Vulnerability DB        [no update available]
New version of grype is available: 0.27.0
 ✔ Parsed image
 ⠏ Cataloging packages     [packages 0]
1 error occurred:

[2021-12-09 13:23] jbauernberger commented on #523
still panics:

$> grype .

[code]

[code]

If I run syft (`syft --output json --file ~/report_syft.json dir:~/src/debian/`) I get the same panic

much appreciated!

[2021-12-09 13:49] wagoodman commented on #523
Thanks for reporting back! I'll dig a little deeper and report back.

[2021-12-09 13:53] jbauernberger commented on #523
thanks! let me know if you need any additional infos - happy to help where I can

[2021-12-09 14:25] wagoodman commented on #523
@jbauernberger  this seems to be a panic for a different reason, where as the first panic is from parsing DEB config files, this one appears to be a panic while processing a go binary (mac).

Might you be able to provide more details on what gets populated into the `~/src/debian` directory?

[2021-12-09 14:47] jbauernberger commented on #523
I downloaded a bunch (see list below) of debian source packages for Debian sid. There are quite a lot (~29G). I fetch them with  `apt-get source <package>` ... then I delete *.dsc *.gz *.xz *.bz2 (anything that isn't a subdir) and run `grype` on it.

So something like:

[code]

content of `./packages`:

[code]

[2021-12-09 15:05] spiffcs commented on #525
I think it’s coming from here:
https://github.com/anchore/syft/blob/da0b17b719b6d5cabe0819d44f90755c73312de8/syft/pkg/cataloger/rpmdb/parse_rpmdb.go#L37-L45

When opening the rpmdb valid page sizes include. So the value reported in your error is 16 times the max page size value.
[code]

This library was forked which provides some of that functionality:
https://github.com/knqyf263/go-rpmdb
https://

[2021-12-09 15:52] wagoodman commented on #525
This may indicate that the DB is corrupted or that the validation is missing a case here, it's not quite clear which way yet. @vchinchambekar Can you provide the image you used to produce this error? (Or provide an image you can share that reproduces this problem if you can't share your image)

I think I need to dig into Berkeley DB design details to understand more before speculating further.

[2021-12-09 15:59] wagoodman commented on #523
Awesome info! I'll kick this off and start using some of that disk space 💾 🔥.

[2021-12-09 20:35] wagoodman opened #526 "panic: runtime error: invalid memory address or nil pointer dereference (go binary parsing)"
I'm reporting on behalf of @jbauernberger from #523

**What happened**:
From https://github.com/anchore/grype/issues/523#issuecomment-989849082

[code]

**What you expected to happen**:
No panics!

**How to reproduce it (as minimally and precisely as possible)**:
From https://github.com/anchore/grype/issues/523#issuecomment-989920003

I downloaded a bunch (see list below) of debian source packages

[2021-12-09 20:36] wagoodman commented on #523
@jbauernberger Since the new panic is different in nature, let's track this under a separate issue (I've opened one here: https://github.com/anchore/grype/issues/526)

[2021-12-09 20:36] #523 closed

[2021-12-09 22:37] westonsteimel commented on #526
@wagoodman, it seems to happen specifically after `apt-get source clang-13` for me

[2021-12-09 23:14] wagoodman opened #527 "Create project website"
We have started to outpace the simple "all documentation goes in the README.md" approach that we take today. We should create a website that encompasses at least:

- installation
- basic usage
- document use cases
- document of configuration options
- integration examples and links
- links to communication (slack / issues)
- details on our bi-weekly community meeting
- high-level roadmap
- databas

[2021-12-10 09:54] vchinchambekar commented on #525
Hi @wagoodman @spiffcs,
Thanks for your update but we can not share this official customized docker image.
Do you have any other solution to look on this ??

Not:- FYI other images I'm able to get scan report.

[2021-12-10 14:26] jbauernberger commented on #526
nice job on isolating it! so digging further most of what matches `llvm-toolchain-13-13.0.0/llvm/test/Object/Inputs/macho-invalid-*` trigger the crash for me:

[code]

set strace filter on open,openat:

[code]

then `grep openat ~/grype.strace |tail` gives:

[code]

tried to isolate them one by one but it seems most of the files cause it. (haven't confirmed if it's each and every one but moving th

[2021-12-10 15:17] wagoodman commented on #526
HA! That explains a lot! I was wondering where mac binaries came from for a linux package...

Right now we make certain to not fail or parse further when there are unexpected inputs like this, however, this appears to be coming from the go stdlib itself. The easiest approach here might be to isolate the stdlib call and do an explicit recover for this path.

[2021-12-10 16:01] spiffcs commented on #525
@vchinchambekar I think it's because Berkely DB specifies that the maximum database page size is `65536` (64k)[^1] .

Without the image, it's harder to go further than that.  RPMDB uses Berkely under the hood so I would investigate if the DB is corrupted or what is causing the package database to be so large.

Here is a quick starting point that might point to how the package database for that ima

[2021-12-10 18:03] #526 closed

[2021-12-10 18:58] wagoodman opened #529 "Add RustSec DB source"
Add the ability to match rust crates against the RustSec DB https://github.com/rustsec/advisory-db

[2021-12-10 18:59] wagoodman opened #530 "Add Goland DB source"
Add the ability to match packages against vulnerabilities listed in https://github.com/golang/vulndb

[2021-12-10 19:41] westonsteimel commented on #529
@wagoodman, there is also https://github.com/google/osv which aggregates all of these sources into a [common schema](https://github.com/ossf/osv-schema)

[2021-12-10 20:02] westonsteimel opened #531 "Add PyPA DB source"
Add the ability to match python packages against vulnerabilities listed in https://github.com/pypa/advisory-db

[2021-12-11 00:59] samj1912 commented on #520
@wagoodman I have been looking into the source code for stereoscope and I have a few thoughts -

- Currently stereoscope is responsible for fetching a container image from various sources and each of these is denoted by a scheme which is one of: docker-archive, docker, oci-dir, oci-archive, oci-registry, registry
- A buildpack related image can be stored in any of the above formats.

Given the abo

[2021-12-11 23:00] shaneholloman opened #532 "Wont install via curl or brew"
**What happened**:

[code]

**What you expected to happen**: install

**How to reproduce it (as minimally and precisely as possible)**: see above

**Anything else we need to know?**: Tried on Ubuntu 18, 20 and Fedora 34. Tried to sudo the curl install method as well in an attempt to overcome the permission denied error

**Environment**:
- Output of `grype version`:
- OS (e.g: `cat /etc/os-release`

[2021-12-11 23:20] luhring commented on #532
Hi @shaneholloman, if you haven't yet, check out our [installation instructions](https://github.com/anchore/grype#installation).

For the brew method, you have to first run `brew tap anchore/grype` before running `brew install grype`.

For the curl method, you can chose the destination directory that works best for your system, using `curl -sSfL https://raw.githubusercontent.com/anchore/grype/main

[2021-12-12 02:19] shaneholloman commented on #532
The `brew tap *` works perfectly. Sorry I missed that!

Cheers

[code]

[2021-12-12 02:30] #532 closed

[2021-12-13 10:11] frafra opened #533 "Could not create temp dir: mkdir /tmp/stereoscope-cache*: no space left on device"
**What happened**:
Failure when fetching an image, as no more space on /tmp is available.

**What you expected to happen**:
Improved error handling, with the suggestion of using an option to choose a different temporary folder.

**How to reproduce it (as minimally and precisely as possible)**:
Fetch a large image over a small /tmp folder.

**Anything else we need to know?**:

**Environment**:
- Ou

[2021-12-13 14:34] wagoodman commented on #230
@mashayev can you provide an image (or a file) to help reproduce this on our end?

[2021-12-13 15:07] awoodsprim opened #534 "Grype doesn't detect CVE-2021-43798"
**What happened**:
Attempted to scan both the Grafana 8.2.2 Enterprise and Grafana 8.2.2 OSS releases and neither flagged this CVE.  Verified that the CVE was present by using the blog post about it.

**What you expected to happen**:
Grype was able to detect and report on this CVE from the docker image.

**How to reproduce it (as minimally and precisely as possible)**:
mkdir ${PWD}/work
export IQ_

[2021-12-13 16:14] mashayev commented on #230
All docker images scan with `grype` didn't work. I assumed it's related to the DB.  `grype` is using sqlite the error indicated that I had a corrupt sqlite vulnerability file maybe because of multiple writers. So I removed the DB and it solved it.

[2021-12-13 16:57] arduent commented on #504
I'm running tomcat 10.0.14 and seeing false positives.

# grype dir:/java/tomcat --scope all-layers

tomcat-jdbc                            CVE-2000-1210        Medium
tomcat-jdbc                            CVE-2001-0590        Medium
tomcat-jdbc                            CVE-2002-0493        High
tomcat-jdbc                            CVE-2005-4838        Medium
tomcat-jdbc

[2021-12-13 17:25] ahrycej commented on #504
for us the issue is that we dont use the packet manager when adding tomcat and version is not present. For our tomcat version that is 8.5.72 these are all false positive. I had a case open with anchore enterprise. Regards. Anna

[2021-12-13 18:27] spiffcs commented on #534
So digging into this a bit more I think I'm starting to understand the mismatch.

Here are the current CPE that match for the vulnerability in the vulnerability database:

Can fetch the DB from here:
[code]

[code]

If you examine the sbom generated when scanning `grafana/grafana-enterprise:8.2.2` you can see that there are 13 matches for the string `cpe:2.3:a:grafana`.

[code]

I'm trying to see

[2021-12-13 18:46] spiffcs commented on #533
Thanks for the issue @frafra. We'll take a look at making this configurable with an option in the case that /tmp is no a viable option for fetching large images.

If you could provide an image that you see this failing for that would be great. If you can't provide the image, than a ballpark of what size you're seeing this behavior at would help so we have a starting point to see where the pain is.

[2021-12-13 22:17] kzantow commented on #504
I tracked this down to the `tomcat-jdbc.jar` manifest only including a `Bundle-Version` when Syft catalogs it. There's a PR for it here:  https://github.com/anchore/syft/pull/677

[2021-12-13 23:13] luhring commented on #230
@mashayev Is this happening consistently? Is there a set of steps we could write down here that would let us see the issue? I haven't seen this before.

Also, **could this be a separate issue**? It sounds like you saw an error message about the database, but the error message reported for this ticket was `ERROR matcher failed for pkg=Pkg(type=npm, name=, version=): matcher failed to fetch by CPE p

[2021-12-14 03:06] santosomar opened #536 "Enhancement request to support the Common Security Advisory Framework (CSAF) format"
The Common Security Advisory Framework Version 2.0 is now an approved specification in the industry. Details about the specification can be found at: https://csaf.io and https://docs.oasis-open.org/csaf/csaf/v2.0/cs01/csaf-v2.0-cs01.html

[CSAF](https://docs.oasis-open.org/csaf/csaf/v2.0/cs01/csaf-v2.0-cs01.html) is a language to exchange Security Advisories formulated in JSON. CSAF v2.0 is the de

[2021-12-14 07:58] frafra commented on #533
My `/tmp` is 2 GB. `geonode/geonode` is ~1.3 GB. It fails when saving the image to disk.

[2021-12-14 08:23] DonHege commented on #476
I encountered the same.

Homebrew 3.3.8
Homebrew/homebrew-core (git revision e3aee5b90d8; last commit 2021-12-14)
Homebrew/homebrew-cask (git revision 947f995586; last commit 2021-12-14)

On MacOS 10.15.7

[2021-12-14 10:40] jbauernberger opened #537 "specify key/values that are added to the report"
Hi there,

**What would you like to be added**:

a way to add arbitrary key/values to the report (e.g. hostname, os, ip, ...).

**Why is this needed**:

I'm writing a plugin for faraday so syft/grype reports can be visualized and further processed there. Faraday wants the hostname (and perhaps OS, ip) in the report. Would it makes sense to give grype users the ability to specify a list of key/valu

[2021-12-14 11:36] soerenBoisen opened #538 "Index out of range while scanning Java webapps"
**What happened**:
Scanning fails with the message "panic: runtime error: index out of range [2] with length 2".
Output:
[code]

**What you expected to happen**:
To complete the scan instead of failing due to some possibly invalid Java manifest. Being told in the report what files / folders were skipped due to such parse errors.

**How to reproduce it (as minimally and precisely as possible)**:
No

[2021-12-14 11:42] luhring commented on #538
Hi @soerenBoisen, thanks for reporting this — do you have a project we can use to reproduce this?

[2021-12-14 12:03] soerenBoisen commented on #538
Not yet - I was scanning a folder containing all our Tomcat installations with all their webapps, so I'm not yet sure which webapp triggered the error.

[2021-12-14 12:06] luhring commented on #538
Okay, thanks for the quick response! I'll start trying to find a way to reproduce it, too. Once we identify the cause we should be able to get this fixed and released very quickly.

[2021-12-14 12:35] luhring commented on #504
@kzantow Just for my understanding, is that fix handling the missing versions, or additionally this request below?

[2021-12-14 12:54] luhring commented on #533
Hi @frafra! You should be able to control the tmp directory with the `TMPDIR` environment variable. For example:

[code]

Can you try this and let us know if that works for you?

(Note: Related to https://github.com/anchore/syft/issues/552)

[2021-12-14 13:22] frafra commented on #533
`mkdir -p "$HOME/tmp" && TMPDIR="$HOME/tmp" grype geonode/geonode` works :)

[2021-12-14 13:46] luhring commented on #538
I think this is a parsing error caused by manifest files with multiple empty lines. I'll open a PR for this.

[2021-12-14 13:48] luhring commented on #533
Great! 🎉

[2021-12-14 19:46] #533 closed

[2021-12-14 19:48] spiffcs commented on #476
Correct - We're waiting for the latest upcoming goreleaser release `v1.2` because of some support we need for our osx signing process. Apologies for the run around on updating this each time we do a release.

[2021-12-14 20:51] aenima-x commented on #537
Hello, I'm one the the developers of Faraday.
I think that to us it would be better if you add the name of the image in the json.
You have the name of the different layers but it would be great for us to add support of your tool if you add the name of the image so we can relate all the different vulnerabilities to the image

[2021-12-14 22:17] kzantow commented on #538
Owait 🤦

[2021-12-14 22:17] #538 closed

[2021-12-14 22:19] soerenBoisen commented on #538
Thanks for the quick response on this issue! After updating to 0.27.2 and repeating the scan, the issue was resolved for me 👌

[2021-12-14 22:31] wagoodman commented on #537
Hey folks! I like the idea of adding arbitrary keys and values to the results. I think it would be an interesting to explore adding this down in syft (via https://github.com/anchore/syft/issues/347) and having that be additionally expressible from grype.

[2021-12-15 02:26] bajanray opened #542 "anchore/grype crit unable to find '' - use 'latest'"
When running the installation script:

`curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin`

I get this error:

`anchore/grype crit unable to find '' - use 'latest' or see https://github.com/anchore/grype/releases for details`

Don't know what I'm supposed to do next after that.  Any help would be greatly appreciated.

[2021-12-15 02:39] kzantow commented on #542
This looks to be effectively the same as: https://github.com/anchore/syft/issues/672 . @bajanray could you provide the OS you are using? and any other information such as the shell / if it's a VM / etc.? Thanks!

[2021-12-15 02:53] kzantow commented on #542
@bajanray also, could you please send the output of:
[code]
and:
[code]
Thanks!

[2021-12-15 04:43] bajanray commented on #542
Keith

My OS is Windows 10 but I am running Cygwin 3.3.3

Output from sh --version:

$ sh --version
GNU bash, version 4.4.12(3)-release (x86_64-unknown-cygwin)
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>

This is free software; you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitte

[2021-12-15 08:19] GilbertK99 opened #544 "Unable to download vulnerability database after installation due too checksum mismatch"
What  happened:
After download, i issued the command grype update db and received the following error.
"unable to update vulnerability database: unable to update vulnerability database: unable to download db: Checksums did not match for /tmp/getter233760951/archive.
Expected: 70277bb26084c7276ed31ab176ced722484ebd232ce25d332ec4dddd07f32edc
Got: 4c89a527e0d50749dee7aabd199e4c94eef9878f721ccc644a4f1

[2021-12-15 08:24] GilbertK99 commented on #544
What  happened:
After download, i issued the command grype update db and received the following error.
"unable to update vulnerability database: unable to update vulnerability database: unable to download db: Checksums did not match for /tmp/getter233760951/archive.
Expected: 70277bb26084c7276ed31ab176ced722484ebd232ce25d332ec4dddd07f32edc
Got: 4c89a527e0d50749dee7aabd199e4c94eef9878f721ccc644a4f1

[2021-12-15 08:55] acaire commented on #538
Damn! I was too slow to PR for this, this was my fix for double blank lines:
[code]

[2021-12-15 12:17] aenima-x commented on #537
Forget what I said, I saw that the image is in the "source" key

[2021-12-15 14:40] spiffcs commented on #544
Hey @GilbertK99 here is a thread in the community channel where we helped debug a similar problem:
https://anchorecommunity.slack.com/archives/C027JE5M345/p1639512986077800

Please try these steps:
[code]

[2021-12-15 15:15] avelezxv commented on #538
We are still facing this issue:
[code]
This is the version we are using:
[code]

[2021-12-15 18:05] luhring commented on #538
@avelezxv Interesting, at first glance that looks like a different issue. I'll look into it. Thanks for reporting it!

[2021-12-15 19:40] tanjoht opened #545 "Unable to run scan against a directory for droplet vulnerability"
**What happened**:
While trying to run a scan against a directory, it does not find the droplets to scan:
grype dir:droplet_test
 ✔ Vulnerability DB        [no update available]
 ✔ Indexed droplet_test
 ✔ Cataloged packages      [0 packages]
 ✔ Scanned image           [0 vulnerabilities]

Referincing the file directly work as expected:
worker/511f87bb-cf57-41bc-baf7-073ebcac9ff3:~# grype droplet_t

[2021-12-15 21:37] tanjoht opened #546 "allow recursive scanning of packages in a directory"
**What would you like to be added**:
Allow the tool to recursively scan a specified directory and scan all packages within the directory.

**Why is this needed**:
In a cloud foundry deployment, many apps are compiled and packaged into a common directory. It would be useful to scan  a specified directory for vulnerabilities on all packages.

**Additional context**:
Note: the packages may not have a

[2021-12-16 01:45] luhring commented on #538
@avelezxv I have a suspicion about what this is, but do you have a way for us to reproduce your issue? Is there a way for us to get a copy of `/tmp/jenkins.tar` or a similar file?

[2021-12-16 01:54] luhring commented on #545
Hi @tanjoht 👋  Just to make sure I understand: When you say "droplet", what are you referring to?

Grype uses [Syft](https://github.com/anchore/syft) to discover what packages exist in a given scan target (e.g. a directory). Syft doesn't yet unpack `.tgz` files, but that seems like it should be addressed via https://github.com/anchore/syft/issues/246

[2021-12-16 01:57] luhring commented on #546
Hi @tanjoht — Grype uses [Syft](https://github.com/anchore/syft) to find packages in a directory. Syft already scans for packages recursively in a directory. Syft doesn't yet support unpacking `.tgz` files found within a directory. If I'm understanding correctly, this is the same as what's being requested in your other issue https://github.com/anchore/grype/issues/545 — do I have that right?

[2021-12-16 02:05] luhring commented on #542
@bajanray What output do you get when you run `curl --version`? And also, when you run `stat /usr/local/bin`?

[2021-12-16 04:21] bajanray commented on #542
$ curl --version
curl 7.55.1 (Windows) libcurl/7.55.1 WinSSL
Release-Date: 2017-11-14, security patched: 2019-11-05
Protocols: dict file ftp ftps http https imap imaps pop3 pop3s smtp smtps telnet tftp
Features: AsynchDNS IPv6 Largefile SSPI Kerberos SPNEGO NTLM SSL

$ stat /usr/local/bin
  File: /usr/local/bin
  Size: 0               Blocks: 0          IO Block: 65536  directory
Device: 70f77e10h

[2021-12-16 11:56] luhring opened #548 "Panic when a package has been added to a catalog multiple times"
When Grype is using a catalog that's had a package added more than once, Grype panics in [`FromCatalog`](https://github.com/anchore/grype/blob/0781fb028b56dbb4cc9ce1c0cb8988753e6f3b76/grype/pkg/package.go#L90-L96).

This is because Grype is adding items to the `result` slice by **index**, and it's trusting that the slice's length (currently set to the return value of `catalog.PackageCount()`) is l

[2021-12-16 11:57] luhring commented on #538
Hi @avelezxv, since the bug you discovered is a separate problem than this ticket's problem, I've opened a new issue for us to continue the conversation: #548

[2021-12-16 13:39] tsunamaru opened #549 "Grype stucks on some images"
**What happened**:
On some images grype is infinity showing "Loading image" - "Saving image to disk" and not responding to SIGTERM.
![image](https://user-images.githubusercontent.com/37580200/146381679-4aad57f1-a379-4691-81a6-c81df58d1c13.png)

**What you expected to happen**:
Scan be done :)

**How to reproduce it (as minimally and precisely as possible)**:
I can send you example image by any pri

[2021-12-16 13:40] #548 closed

[2021-12-16 14:12] tanjoht commented on #545
Hi @luhring, thanks for the response. Droplet's is referring to the packaged tarball.

[2021-12-16 14:12] wagoodman commented on #549
We're releasing a fix for a recent performance regression in syft https://github.com/anchore/syft/issues/696 . A grype release will be out within the hour with the fix as well.

[2021-12-16 14:15] tanjoht commented on #546
Hi @luhring, when i mention packages, i am referring to the tarball. For example would like to run grype against a directory as so:

grype dir:/directory

where /directory contains
/directory/package_a/tarball_a
/directory/package_b/tarball_b
/directory/package_c?tarball_c

and have it scan all 3 tarballs (no need to unpack). Also note that there isn't a .tar or tgz on these tarballs

[2021-12-16 14:41] tsunamaru commented on #549
Thank you for quick response @wagoodman. I'll test new version as soon as it comes out and let you know if I still experiencing this issue.

[2021-12-16 15:25] tsunamaru commented on #549
@wagoodman unfortunately, still facing same issue on grype 0.27.3

[2021-12-16 15:26] dsyer opened #552 "CVE-2021-44228 false positives"
Scanned an image for a Spring Boot application (e.g. Petclinic https://github.com/spring-projects/spring-petclinic). It should be negative for CVE-2021-44228 since it only depends on log4j-api (not log4j-core). So either the vulnerability database is wrong, or the matching is buggy. An image that contains only log4j-api or log4j-slf4j-impl or log4j-to-slf4j is not vulnerable.

[2021-12-16 15:31] luhring commented on #552
Hi @dsyer, thanks for the issue!

You mention you're seeing this behavior for a scan of an image — is there an easy way for us to get a hold of that image? I don't see a Dockerfile in that repo, is there an image already published somewhere?

[2021-12-16 16:17] hughpv commented on #552
Here's an example I found on Docker hub - just happened to be the most recently uploaded image that matched on "spring boot": `sidharthpradhan/springbootdemo`

Included in the grype output is the following:

[code]

But when I inspect the JAR file inside the container, log4j-core is not there:

[code]

[2021-12-16 16:23] luhring commented on #552
Wow, awesome, thanks @hughpv!

[2021-12-16 17:35] ghaskins opened #553 "False positive on httpclient"
**What happened**:

Grype is reporting the following from an uberjar

[code]
Where the only visible matches are already explicitly 4.5.13

**Environment**:
- Output of `grype version`:

[code]

- OS (e.g: `cat /etc/os-release` or similar):

[code]

[2021-12-16 17:47] dsyer commented on #552
You can generate an image with `mvn spring-boot:build-image`. Use that if you want to try anything new.

[2021-12-16 18:03] kzantow commented on #389
This is blocked pending release with https://github.com/anchore/syft/pull/695

[2021-12-17 07:38] tsunamaru commented on #552
If possible, please leave the current behavior as option, configurable somewhere (we are using grype for bulk scanning our images and extracting all log4j related stuff).

[2021-12-17 10:11] Tsuesun commented on #552
Why not use https://github.com/anchore/syft for that?

[2021-12-17 13:56] nto4 opened #554 "Error when scanning a single file (e.g. zip, war, etc.) and using JSON output format"
**What happened**:
searched *war  files -o json give me that error

[code]

cyclonedx and table working correctly

but if im unzip this war file and run

`grype blabla/ROOT -o json`
working correctyl

**Environment**:

[code]

- Output of `grype version`:
- OS (e.g: `cat /etc/os-release` or similar):

[code]

[2021-12-17 14:00] luhring commented on #554
@nto4 Great find, thank you!

[2021-12-17 19:12] wagoodman commented on #481
A compromise here when it comes to getting the feature in (enabling input from SBOMs in different formats) and the quality of the vulnerability matching... there is a good change that matching will predictably be lower for other formats until we better understand how the information can be encoded in the other SBOM formats (SPDX and CycloneDX). In order to get some forward progress here, I think i

[2021-12-17 19:14] wagoodman commented on #395
This same comment applies https://github.com/anchore/grype/issues/481#issuecomment-996972824

[2021-12-18 07:07] hectorj2f commented on #481
@wagoodman yes, it makes sense to me. I am happy to get involved on a WG to investigate what we need from these formats to get the same or better accuracy.

[2021-12-18 15:42] knweiss commented on #552
FWIW: You could also test this [log4j-samples](https://github.com/mergebase/log4j-samples) collection.

E.g. these are also false hits:
[code]

[2021-12-19 01:45] jonasagx opened #555 "Grype verbose log version"
What would you like to be added:
Verbose logs expose Grype's version

Why is this needed:
Whenever a problem happens it is important to have context to reproduce it and knowing the running version is the first step. CI platforms require extra steps to reproduce fails, and environments can change between executions. A log line with version makes it clear

Additional context:
- [x] Add the simple ve

[2021-12-19 13:35] luhring commented on #554
Adding my own minimal reproduction steps:

1. `mkdir folder`
2. `( cd ./folder && curl -O https://raw.githubusercontent.com/anchore/stereoscope/main/go.mod )` (the problem has nothing to do with stereoscope or its `go.mod`, I'm just picking it arbitrarily so there's some catalog data 😃 )
3. `zip -r ./folder ./folder`
4. `grype -o json ./folder.zip` (or alternatively, `grype -o json file:./folder.z

[2021-12-19 23:03] #554 closed

[2021-12-20 11:07] GilbertK99 commented on #544
Thank you! I tried updating again and it worked without the above solution.

[2021-12-20 11:07] #544 closed

[2021-12-20 16:32] xtreme-conor-nosal opened #558 "False positive CVE-2015-5237 for protobuf-go"
**What happened**:
Our go.mod dependency of `google.golang.org/protobuf@v1.27.1` (a.k.a https://github.com/protocolbuffers/protobuf-go) is detected by syft/grype as `cpe:2.3:a:google:protobuf:v1.27.1:*:*:*:*:*:*:*` and grype matches CVE-2015-5237 based on `cpe:2.3:a:google:protobuf:*:*:*:*:*:*:*:* <= 3.1.0` but 1.27.1 is the latest version.

The CVE links to https://github.com/protocolbuffers/prot

[2021-12-20 16:33] xtreme-conor-nosal commented on #558
Match from grype -o json
[code]

[2021-12-21 17:52] #389 closed

[2021-12-21 20:23] #555 closed

[2021-12-22 00:05] zcrisler opened #560 "MacOS install fails using GNU coreutils version of cp"
**What happened**:

Failed to install `grype` to the current directory on darwin/amd64:

[code]

Running again with `-x` gives a more detailed trace:

[code]

**What you expected to happen**:

The `grype` binary to be installed to the current directory.

**How to reproduce it (as minimally and precisely as possible)**:

The issue appears to be with the `cp -fR "${mount_point}/" ./` statement on [l

[2021-12-22 03:54] jax79sg opened #561 "Indicate location of vulnerability"
**What would you like to be added**:
Add library location and software dependancy on scan output.

**Why is this needed**:
The grype output only indicate the library/package. However it doesn't give a reference to where its hosted and which software might have installed it. This info is needed for vulnerability mitigation.

**Additional context**:

[2021-12-22 09:17] kjedrol opened #562 "Run Grype scan of files given from text file containing filelist"
What would you like to be added:
Run Grype scan of files given from text file containing file list.

Why is this needed:
When Grype is executed, it scans the pointed directory. However, it would be very useful if Grype has some functionality to scan only files specified in a text file.

Additional context:
Like "grype -i files-to-scan.txt"

files-to-scan.txt:
/etc/directory/file1.jar
/opt/director

[2021-12-22 09:50] tomaecoward-inawisdom commented on #554
Is this fixed?
Seeing this issue in

grype version
Application:          grype
Version:              0.27.3
Syft Version:         v0.33.0
BuildDate:            2021-12-16T15:11:16Z
GitCommit:            4f964c4ee26ad01a80b8bcffb6bf23c0afb71d09
GitTreeState:         clean
Platform:             darwin/amd64
GoVersion:            go1.16.12
Compiler:             gc
Supported DB Schema:  3

grype temp.

[2021-12-22 13:37] luhring commented on #554
@tomaecoward-inawisdom This was merged but hasn't been released yet I'm expecting a new release to come out today.

[2021-12-22 13:54] wagoodman commented on #562
This seems to highly related to https://github.com/anchore/syft/issues/562 (we try to keep syft and grype aligned in how you express similar actions on the CLI, which is why I'm roping in a syft issue here), where we want to be able to specify multiple inputs (whether they are files, directories, images, etc), and not just a single input.

The current proposal is that this gets surfaced through th

[2021-12-22 14:12] wagoodman commented on #561
Hey @jax79sg , I want to make certain I understand the specific request here. I wanted to start with what information that is most similar to what you're asking for today to see what the differences might be.

Here's an example from scanning `ubuntu:latest` this morning with the `-o json` flag to get as much information as possible (the default table output summarizes each vulnerability finding):

[2021-12-22 15:53] ihacku opened #564 "db import error"
**What happened**:
grype db status
Location:  /root/3
Built:     2021-12-21 08:14:56 +0000 UTC
Schema:    1
Checksum:  sha256:ef54314b3607d4de07e6b70f4f8baa1ca34f84ac62f4e9ce007abe428d4bbc99
Status:    invalid
unsupported database version: have=1 want=3

**What you expected to happen**:
After manually change version number 1 to 3 in metadata.json, db import works and returning
Location:  /root/3
B

[2021-12-22 15:59] ihacku commented on #564
another issue about db import

tar -zxvf vulnerability-db_v1_2021-12-22T08_13_40Z.tar.gz
grype db import vulnerability.db
unable to import vulnerability database: gzip: invalid header

[2021-12-22 16:17] ihacku commented on #564
Sorry, my bad, I downloaded a wrong version of database, it should be v3 package instead v1
https://toolbox-data.anchore.io/grype/databases/vulnerability-db_v3_2021-12-22T08:13:40Z.tar.gz

after replace right version of vulnerability.db and metadata.json in /root/3, the scan works fine

grype db import vulnerability.db still returns error though
unable to import vulnerability database: gzip: inval

[2021-12-22 16:28] jijames opened #565 "Syft-generated Windows SBOM unable to identify format"
**What happened**:
json-formatted SBOM generated using syft on **Windows** produced an "unable to identify format" error when loaded into grype.

[code]

**What you expected to happen**:
Grype successfully loads and analyzes the Windows SBOM created by Windows syft.

**How to reproduce it (as minimally and precisely as possible)**:
1. Produce an SBOM from directory scan on Windows: .\syft.exe dir:

[2021-12-22 16:49] jijames commented on #565
It looks like validation fails around syftjson validator.go line 20: https://github.com/anchore/syft/blob/b7979dbc7d62c195a662c022c0b8c4ecbc069958/internal/formats/syftjson/validator.go#L20

[2021-12-22 18:10] luhring commented on #564
Good to know this was cleared up! I'll close this for now, and let us know if we should re-open it.

[2021-12-22 18:10] #564 closed

[2021-12-22 18:22] luhring commented on #565
Interesting... I looked at the attached SBOM, and it looks like the JSON data is preceded by a two-byte [byte order mark](https://en.wikipedia.org/wiki/Byte_order_mark) (`0xFFFE`).

This might be something we need to account for in our format validation/decoding...

[2021-12-22 18:27] #552 closed

[2021-12-22 18:44] spiffcs commented on #560
Thanks @zcrisler for the detailed investigation. I ran it on my end and was able to reproduce it as you described.

PR added here: https://github.com/anchore/grype/pull/566 to enhance the compatibility.

[2021-12-22 19:52] #560 closed

[2021-12-23 02:59] jijames commented on #565
Tried removing the first two bytes (`0xfffe`) - did not resolve the issue.

Might be an encoding issue.
This is from a Linux scan:
`00000000: 7b0a 2022 6172 7469 6661 6374 7322 3a20  {. "artifacts": `

This is from the windows scan (first two bytes removed):
[code]
File
[code]
Convert utf-16le to utf-8
```iconv -f UTF-16LE -t UTF-8 windows-sbom2.json -o windows-sbom3.json```
Remove first **three**

[2021-12-23 03:27] jijames commented on #565
The issue seems due to using redirect (>) in Windows 11.

Redirect will result in a UTF-16LE encoded file (not accepted by grype):
`.\syft.exe dir:"C:\Program Files\Go" -o json >  windows-sbom.json`
The grype instructions recommend redirect.

`--file` option will result in a US-ASCII encoded file (that is accepted by grype):
`.\syft.exe dir:"C:\Program Files\Go" --file windows-sbom.json -o json`

[2021-12-23 14:05] dreamcat4 opened #568 "ability to go install "github.com/anchore/grype""
**What happened**:

[code]

**What you expected to happen**:

Ability to install via `go install`. I know that might sound a bit naiive. However it would be really helpful to support that mechanism. Which is supposed to be the official mechanism of go. It makes managing installations and updating of your tool so much easier for me.  If it uses the same mechanism as all my other `go` based tools.

[2021-12-23 14:19] luhring commented on #568
Hi @dreamcat4, I just tried to reproduce this using Docker, for the sake of a clean environment. I'm not able to reproduce this yet.

On my end, it looks like the `go install` approach is working.

Here's what I see:
[code]

Can you share the full command you ran, and the full output you received?

[2021-12-23 14:44] luhring commented on #546
If I'm understanding correctly, this is an existing feature request: https://github.com/anchore/syft/issues/246 We'll track progress on this feature in that issue.

I'll close for now, but please let me know if I've misunderstood the intent of this issue!

[2021-12-23 14:44] #546 closed

[2021-12-23 14:46] luhring commented on #545
Got it! I think this is referring to the same functionality as described in https://github.com/anchore/syft/issues/246, so let's track progress on this enhancement there.

[2021-12-23 14:46] #545 closed

[2021-12-23 14:58] dreamcat4 commented on #568
wow that is good news to hear. thanks for checking!

in terms of my own local environment. where this error is taking place. hmm well lets see now

[code]

ah ok. I can see here that you appent `@latest` version specifier. For latest released tagged version. I neglected to do that over here....

So that worked all fine now. Therefore maybe the error message received was to do with something more r

[2021-12-23 14:58] #568 closed

[2021-12-23 22:29] kzantow opened #569 "Allow false positive data to be dynamically updated"
**What would you like to be added**:
The ability to dynamically provide false positive data to Grype to ignore specific results during scans without requiring everything be put in the configuration file's `ignore` section.

**Why is this needed**:
To avoid known false positive matches.

**Additional context**:
To address some false positives that arose out of the log4j issue, there were a number o

[2021-12-27 18:01] PyOctoCat opened #570 "Enhancement request for scanner to be able to review rpm packages"
Enhancement request for the scanner to be able to review rpm packages. Impressed at how it scans other repositories, but it seems to miss RPMs and OVAs.

[2021-12-28 11:59] leonidsandler opened #571 "Vulnerabilities CVE-2021-44790 and CVE-2021-44224 not identified"
Even though I can see that both of these CVEs are present in the vulnerability .db, they are not showing up in the scan results of the Apache HTTPD (image httpd:2.4.51).

[2021-12-30 22:17] PawelAntosik-TomTom opened #572 "Can't download db because not available space on /tmp/"
**What happened**:
/usr/local/bin/grype db update
Unable to update vulnerability database
unable to update vulnerability database: unable to update vulnerability database: unable to download db: write /tmp/getter160826247/archive: no space left on device
**What you expected to happen**:
To install a new database
**How to reproduce it (as minimally and precisely as possible)**:
You need to have a s

[2022-01-01 09:32] westonsteimel commented on #529
So how do we actually go about adding new data sources for grype?  Is the existing process documented somewhere?

[2022-01-03 14:40] kzantow commented on #570
@PyOctoCat are you referring to RPM packages on disk (e.g. `nodejs-devel-10.13.0-2.el7.x86_64.rpm`)?

[2022-01-03 14:41] kzantow commented on #570
@PyOctoCat also, I'm going to split this into 2 issues, unless you object: one for RPM and one for OVA

[2022-01-03 14:43] kzantow opened #573 "Ability to scan OVA format images"
**What would you like to be added**:
Ability to scan OVA directory/files/images

**Why is this needed**:
This was originally requested as part of #570

[2022-01-03 14:43] kzantow commented on #570
Sibling issue: https://github.com/anchore/grype/issues/573

[2022-01-03 15:11] kzantow commented on #572
@PawelAntosik-TomTom you should be able to do this already (see: https://github.com/anchore/grype#local-database-cache-directory) does this not work for you?

[2022-01-03 15:24] kzantow commented on #571
Sorry this doesn't answer the question yet, but just noting a little investigation:

CPEs in those vulnerabilities are using `cpe:2.3:a:apache:http_server:...`

There are no `http_server` or even `httpd` CPEs generated from this image, the only thing remotely related seems to be:
[code]

[2022-01-03 16:44] leonidsandler commented on #571
Is there something I can help with?

[2022-01-03 16:47] kzantow commented on #571
@leonidsandler not just yet, thank you! The issue is we don't have anything specifically to match on in the image. I don't think this is an isolated situation. To solve this and related misses I have a few ideas I'm running by the team but they might take a bit of time to get implemented.

[2022-01-03 17:11] leonidsandler commented on #571
Just a curiosity, do you mean that there is no universal way to identify the version number of httpd file?

[2022-01-03 17:18] PyOctoCat commented on #570
yes I think two tickets would make since. And that rpm example would be what I think would be needed. Ability to run a static scan. Thanks for looking at this.

[2022-01-03 17:22] kzantow commented on #571
The problem is less the version and more the package. The way Grype scans things, it generates CPEs to match against the CPEs provided by NVD (among other things) - for example examine the [CPEs here](https://nvd.nist.gov/vuln/detail/CVE-2021-44224). In this case, there is nothing that Grype finds that resolves to a CPE including `...:apache:http_server:...`, so there's nothing to match against th

[2022-01-05 09:10] Mzyxptlk opened #576 "False positive: Python 'docker' package"
**What happened**:

Running a Grype check on a Python project that lists the latest version of the [docker Python package](https://pypi.org/project/docker/) as a requirement results in a number of false positives. The listed vulnerabilities relate to Docker itself, not to the docker Python package, which is only a library for communicating with the Docker API.

**What you expected to happen**:

:)

[2022-01-06 17:45] PlaxoGhouse opened #577 "Issue in Installation. err: anchore/grype err hash_sha256_verify unable to find checksum"
_$ curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh \| sh -s -- -b /usr/local/bin_

anchore/grype info checking GitHub for latest tag
anchore/grype info found version: 0.28.0 for v0.28.0/windows/amd64                                                                                    anchore/grype err hash_sha256_verify unable to find checksum for '/tmp/tmp.QojFZq6rDd/gryp

[2022-01-06 21:22] samj1912 commented on #481
Related - https://github.com/anchore/syft/pull/710#issuecomment-1006943111

[2022-01-07 16:14] spiffcs commented on #558
Thanks for reporting the issue @xtreme-conor-nosal - I'll take a look and see if we can resolve this so that this is no longer being reported as a false positive.

[2022-01-07 20:08] schoppet commented on #561
@jax79sg

I think this template gives the desired csv output:

csv.tmpl file:
[code]

[code]

[code]

cc: @wagoodman

[2022-01-10 11:09] ab-smith opened #580 "Critical False positive: log4j CVE-2021-44228 in nx package"
Scanning a container image with basic nx (npm) package indicates log4j CVE findings where it should not.

[code]

maybe it's confusing it with packages from other providers (Siemens, Ricoh are the closest ones that I could found).

Thank you,

[2022-01-10 14:03] westonsteimel commented on #580
Yes, it's because these are the CPE's that get generated by syft:
[code]
Which causes a match in grype on `cpe:2.3:a:siemens:nx:*:*:*:*:*:*:*:*` in
https://nvd.nist.gov/vuln/detail/CVE-2021-44228

[2022-01-10 14:13] fmtbkgiddiqq opened #581 "add basic instructions for compiling binaries to install readme"
**What would you like to be added**:

Please add some basic instructions for compiling the binaries to the install readme as an alternative to curl to bash.

**Why is this needed**:

Some folks are uncomfortable with the security implications of curl to bash

There are additional use cases where users may wish to modify the functionality of the project to better fit their needs

**Additional conte

[2022-01-10 14:15] fmtbkgiddiqq opened #582 "add insecure flag to bypass ssl issues"
**What would you like to be added**:

An insecure flag that adds InsecureSkipVerify, etc. to HTTP calls on a one-off basis to allow for testing in internal infrastructure that may not use a public CA.

**Why is this needed**:

To use the tool in infrastructure / repo that are hosted using internal cert chain, i.e. not signed by public CA

**Additional context**:

[2022-01-10 14:55] isuftin opened #583 "Grype installation contains vulnerability GHSA-mvff-h3cj-wj9c"
**What happened**:

Build a Docker image with Grype installed, used Grype to scan image. Vulnerability found.

**What you expected to happen**:

Grype does not contain vulnerabilities

**How to reproduce it (as minimally and precisely as possible)**:

[code]

Built the above and used Grype 0.30.0 to scan this on MacOS

[code]

**Environment**:
- Output of `grype version`:
[code]
- OS (e.g: `cat /e

[2022-01-10 15:41] kzantow commented on #582
@fmtbkgiddiqq you can already do this with Yaml configuration or the `GRYPE_REGISTRY_INSECURE_SKIP_TLS_VERIFY=true` environment variable

[2022-01-10 15:49] kzantow commented on #581
This is a good idea. There is a [CONTRIBUTING.md](https://github.com/anchore/grype/blob/main/CONTRIBUTING.md) but it doesn't explicitly say this. However, just so you know: being a fairly standard `go` project, you should be able to build it with just `go build`, which doesn't actually work because there is a `grype` directory. But instead you can use `go build main.go` and it will output a `main`

[2022-01-10 15:56] westonsteimel commented on #583
Yes, this is a false positive due to https://github.com/anchore/grype/issues/558

[2022-01-10 16:23] kzantow commented on #395
An associated Syft PR can be found here: https://github.com/anchore/syft/pull/738

[2022-01-10 16:26] fmtbkgiddiqq commented on #582
This is really useful. Thanks.

[2022-01-10 16:55] spiffcs commented on #580
Nice thanks for the quick identification here. CPE generation is always going to lead us down into these edge cases where we're either too broad or too narrow. I'm not sure if this is a situation where we should consider removing the `*` variation previous to the second `nx` identifier and be more strict on full names `cpe:2.3:a:match1:match2`. @wagoodman has a lot more experience here.

A current

[2022-01-10 17:09] #582 closed

[2022-01-10 18:29] spiffcs commented on #583
We're going through the steps to bump this version in our code and new releases should be available shortly.

[2022-01-10 19:24] spiffcs commented on #577
Sorry Plaxo for the inconvenience - We'll be releasing an updated version shortly with some bug fixes that have windows checksums available. A small omission in our release file meant that it was not being propagated on release.

[2022-01-10 20:05] #583 closed

[2022-01-11 11:08] developer-guy commented on #489
Hello folks, I've completed the Tekton Task for grype, and will continue with the syft tool:

* https://github.com/tektoncd/catalog/pull/895

[2022-01-11 11:08] developer-guy commented on #232
Hello folks, I've completed the Tekton Task for grype, and will continue with the syft tool:

feat: add grype tektoncd/catalog#895

[2022-01-11 14:45] ab-smith commented on #580
Yes, indeed, thank you for reminding the ignore feature as well but as you mentioned it will be enough if we are dealing with only a few cases. I just found other cases as well where npm packages collide with rust ones (eg. package **through**) or other languages and I'm not sure it's maintainable in the long run (especially when Grype is being used as a control gate)
IMHO, exploring alternative p

[2022-01-12 09:25] mar1ged opened #588 "Vulnerabilities not found, probably due to some file errors"
**What happened**:

I get this output:

[code]

**What you expected to happen**:

I would have have expected that grype detects my known vulnerable files in the testfiles folder.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

I have the vulnerability db in the folder named `vulndb`. Below `testfiles` I stored two files which contain the log4j vulnerability.

**Anything

[2022-01-12 10:22] westonsteimel commented on #529
Ah, so would it be somewhere in https://github.com/anchore/anchore-engine/tree/master/anchore_engine/services/policy_engine/engine/feeds?

[2022-01-12 15:42] spiffcs commented on #580
@ab-smith I'll get some 👀  on this so our team can have a conversation about what that alternative pattern generation looks like.

[2022-01-12 15:59] spiffcs commented on #588
Thanks for filing this bug @mar1ged. I'll get a windows box turned on and see what I can do to reproduce this. Do you have the test files pushed to any public repository so I can be sure we're working off the same inputs?

[2022-01-12 20:37] mar1ged commented on #588
Unfortunately they are only available in our internal github instance, but the files are simple enough and basically this is only a vulnerable version of log4j, once in a flat file and a second time in an archive.

The attached file is password protected so no scanner or similar components stumbles across it ;-) Just use `testfiles` as the password to get the content.

[testfiles.zip](https://gith

[2022-01-12 20:42] spiffcs commented on #588
Hey @mar1ged out of an abundance of caution I deleted your last comment to make sure that IF there was anything within that uploaded content that was potentially harmful it would not be available on the issue history here.

If the test files are private and internal-only let me see if we can find a way to resolve and replicate this. If I have an issue on my machine I will DM you and we can work fr

[2022-01-12 20:53] mar1ged commented on #588
I'm fine with that.

I don't consider the provided as harmful because it only contains a library that by itself can't do anything. I didn't put a self executing virus inside the archive ;-)

[2022-01-12 21:07] PawelAntosik-TomTom commented on #572
Nope it doesn't work for me

[antosik@ ~]$ export GRYPE_DB_CACHE_DIR=/opt/grype/db
[antosik@ ~]$ grype db update
Unable to update vulnerability database
unable to update vulnerability database: unable to update vulnerability database: unable to download db: write /tmp/getter140947589/archive: no space left on device

[2022-01-12 21:16] PawelAntosik-TomTom commented on #572
it doesn't work even if i try to import db

[antosik@ grype]$ pwd
/opt/grype
[antosik@ grype]$ grype db status
Location:
Built:     0001-01-01 00:00:00 +0000 UTC
Schema:    0
Checksum:
Status:    invalid
database metadata not found at "/opt/grype/db/3"
[antosik@ grype]$ grype db import vulnerability-db_v1_2022-01-12T08\:16\:10Z.tar.gz
unable to import vulnerability database: unable to create db te

[2022-01-12 21:23] PawelAntosik-TomTom commented on #572
setting TMPDIR works!

[2022-01-13 00:32] samj1912 opened #591 "Add support for cyclonedx 1.4 and VEX"
**What would you like to be added**: CycloneDX 1.4 was released with added support for a common vulnerability exchange format.

It would be great if grype could output its vulnerability reports in this format. This could also be helpful down the road as a standardized format to attach vulnerability data as intoto attestations.

**Why is this needed**: This provides a well defined standard to outpu

[2022-01-13 00:46] nwl commented on #591
Syft ticket here: https://github.com/anchore/syft/issues/744

[2022-01-14 09:47] ribbybibby opened #592 "Error scanning SBOM from file: unsupported package metadata type: file"
**What happened**:

When I attempt to scan an SBOM generated from a file with syft, I get the following error:
[code]

**What you expected to happen**:

I would expect it to scan the SBOM successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Piping from syft to grype:
[code]

From file:
[code]

**Environment**:
[code]

[code]

[code]

[2022-01-14 15:36] joel-eames-armis opened #593 "--only-fixed not working with -o json"
**What happened**: discovered that --only-fixed isn't working when output is json

**What you expected to happen**: expected that the json output would only include "fixed" vulnerabilities

**How to reproduce it (as minimally and precisely as possible)**: grype --only-fixed <image> -o json

**Anything else we need to know?**:

**Environment**:
- Output of `grype version`: 0.31.1
- OS (e.g: `cat /e

[2022-01-14 18:11] luhring commented on #593
Hi @joel-eames-armis, any chance you are able to provide example output from the command you're running? I just tried on my machine, and it seems like the feature is working correctly.

Just to clarify what to expect with `--only-fixed` and `-o json`, you should see that the `.matches` array property contains only matches where the vulnerabilities have been fixed, and all other matches that were f

[2022-01-14 19:18] joel-eames-armis commented on #593
I was not able to reproduce the issue. I think I may have been working too late :/

[2022-01-14 19:18] #593 closed

[2022-01-14 20:57] luhring commented on #593
Glad to hear it's working!

[2022-01-14 21:21] jonasagx commented on #592
Thanks for reporting this issue @ribbybibby -- I was able to reproduce it on my end, and will look into a solution soon. In the mean time you can scan a project directly via grype. You can for example scan it this way:

[code]

[2022-01-14 22:07] kzantow commented on #481
Notes from an offline conversation with @wagoodman

In order to support import of alternative SBOM formats, we will need a particular set of data for Grype to perform ideal matching: **package name**, **package version**, **package vendor**, **os distribution**, and **CPEs** (I may have missed something here). However, it is likely that imported SBOMs will be missing some of this information and w

[2022-01-14 23:32] xtreme-conor-nosal commented on #481
vendor should map to the author/publisher/supplier fields of a component (if provided)

For the distribution, is a version required, or is "distro family" a useful-enough hint? (e.g. if component purls are present and have a `pkg:deb/debian` prefix as syft currently outputs)

I like the approach of doing the best with what we have, and log warnings if appropriate.

[2022-01-15 18:06] ngosang opened #595 "Support ARM32 (linux/armv7) architecture"
Raspberry Pi 4 has an ARM32 (linux/armv7) processor

I get this error when I try to install:
[code]

[2022-01-18 14:26] luhring commented on #592
Hey @jonasagx I can take this! By coincidence I had just been looking at this problem from a separate situation.

[2022-01-18 14:51] wagoodman commented on #595
At this time only `arm64v8` architecture is supported, however, we will continue to add more architecture support over time 👍

[2022-01-18 19:29] #592 closed

[2022-01-19 18:16] luhring commented on #553
Hi @ghaskins, are you able to share a way for us to reproduce this? E.g., is there a way we can download a copy of that JAR, or a JAR similar enough to it that it exhibits the same scan result?

[2022-01-19 18:19] luhring commented on #577
Is there a chance that this has been resolved? I see that a new version of Grype was released on Jan 11

[2022-01-19 19:10] spiffcs commented on #577
@luhring next release this will be solved. The checksum updates did not go into the latest release.

[2022-01-22 12:21] tsunamaru commented on #549
As the issue is not related to grype directly but syft, I'm closing this issue to recreate on syft repository.

[2022-01-24 08:38] Atharex opened #600 "Any replacements for the inline scanning script?"
**What would you like to be added**:
Having a CI script like the previous [inline_scan](https://engine.anchore.io/docs/usage/integration/ci_cd/inline_scanning/) one, that performs a Grype scan and uploads scan results to Anchore engine

**Why is this needed**:
To be able to use policy evaluation on the Grype scan results. CI scanning only with Grype handles vulnerabilities, but prevents usage of c

[2022-01-24 21:10] cjyar opened #601 "False positive for alpine package"
**What happened**: Grype claims that `libzmq-4.3.3-r0`, inside an alpine container, is vulnerable to `CVE-2021-20236`. (Original libzmq [issue](https://github.com/zeromq/libzmq/security/advisories/GHSA-qq65-x72m-9wr8) for reference.) The vuln is fixed in `4.3.3`, and Alpine's versioning scheme means that `4.3.3-r0 > 4.3.3` which is opposite of how semver would sort them.

**What you expected to ha

[2022-01-26 05:11] yudong opened #603 "Grype confuses Ruby gems as other others type of packages and report false positive?"
Is it possible that grype confuse following Rugy gems with other nodejs or rpm packages that contains CVE?

To reproduce the problem:

- docker pull ruby:3.1.0-bullseye
- syft packages docker:ruby:3.1.0-bullseye -o json > ./ruby.stock.json
- cat ./ruby.stock.json | grype -o table | grep -E "Critical|High"

delegate                0.2.0                            CVE-2005-0861        High
json

[2022-01-26 15:58] developer-guy opened #604 "generate fig autocompletion"
**What would you like to be added**:

**Why is this needed**:

**Description**

We (w/@srenatus @anderseknert) did a [similar effort](https://github.com/withfig/autocomplete/pull/854) in OPA to add autocompletion of opa CLI in by [fig](https://github.com/withfig/autocomplete). So, let's do this for cosign too.

![image (17)](https://user-images.githubusercontent.com/16693043/151136006-6a1ed57c-2a5

[2022-01-26 18:13] cburgess commented on #347
I will add that trivy has support for this.

[2022-01-26 22:32] fjammes commented on #558
Do you please have some news, this one is blocking my CI...

[2022-01-27 14:57] spiffcs commented on #558
Sure @fjammes! We're still trying to work out where we want to go with CPE generation so it's not such a moving target where we always see FPS.

In the mean time, if you're having a current issue where a vuln is blocking your CI, would you be able to use the `Ignore` functionality listed [here](https://github.com/anchore/grype#specifying-matches-to-ignore).

[2022-01-28 11:09] samj1912 opened #609 "Outdated vulnerability information for vault CVEs"
**What happened**:
[code]
**What you expected to happen**:

Expected grype to say that `CVE-2020-10661` is fixed in 1.3.4 as per https://nvd.nist.gov/vuln/detail/CVE-2020-10661

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[code]

[2022-01-28 13:52] westonsteimel commented on #609
Nope, I updated my database locally so that `version_constraint`=`>= 0.11.0, <= 1.3.4 || >= 0.11.0, <= 1.3.4` and ended up with the same result

[2022-01-28 14:05] westonsteimel commented on #609
Ah, I think maybe it's because we have a v in the version when generating CPE to match against!

[code]

I suspect that if it was `"cpe:2.3:a:hashicorp:vault:1.3.1:*:*:*:*:*:*:*"` rather than `"cpe:2.3:a:hashicorp:vault:v1.3.1:*:*:*:*:*:*:*"` that it might work as expected?

[2022-01-31 06:18] developer-guy opened #613 "add grype image to ArtifactHub"
**What would you like to be added**:

**Why is this needed**:

ArtifactHub has a new feature called Container images repositories.

I would like to add Grype container image to ArtifactHub

https://artifacthub.io/docs/topics/repositories/#container-images-repositories

**Additional context**:

cc: @dirien @dentrax

[2022-01-31 06:29] developer-guy opened #614 "provide vulnerability attestation based on cosign vuln spec"
**What would you like to be added**:

**Why is this needed**:

In cosign, we (w/@dentrax @dlorenc) worked on generating a spec for vulnerabilities[^1] and ended up having something like the following 👇
https://github.com/sigstore/cosign/blob/main/specs/COSIGN_VULN_ATTESTATION_SPEC.md

So, I thought that it'd be nice to adapt it to Grype, maybe we can enable this support with a flag `--attestation

[2022-01-31 10:49] StefanCenusa opened #615 "Multiple FPs for the npm analyzer"
**What happened**:
This issue I've previously reported more than a year ago on https://github.com/anchore/anchore-engine/issues/606 when it wasn't using grype, but now I can reproduce it using grype as well.

I've been scanning images with grype and there have been some false positives for the npm packages.

**What you expected to happen**:
Non-npm related CVEs to be ignored for npm packages.

**H

[2022-01-31 14:35] luhring commented on #614
Thanks @developer-guy! It'd be neat to produce vulnerability attestations in Grype. 🚀

Before we proceed, I'd like to better understand the spec and the thinking behind it. I've opened an issue in Cosign: https://github.com/sigstore/cosign/issues/1381

[2022-01-31 14:51] wagoodman opened #616 "Curate a known FP list and filter all results"
**What would you like to be added**:
Add a curated list that is incorporated into releases of grype that contains known [FP matches](https://github.com/anchore/grype/issues?q=is%3Aissue+is%3Aopen+label%3A%22false+positive%22) that would be dropped when discovered. A few notes:
1) possibly make this list overridable (optional)
2) log all dropped matches
3) do not put matches into the the `ignoredMa

[2022-01-31 15:54] tonykay commented on #155
So running the latest and greatest `0.32.0` on Mac M1 Monterey 12.3 (ie Beta). I see the above type error message. I updated the database. I brew uninstall grype and reinstall and still see failures:

[code]

Happy to test any fixes, recommendations.

[2022-01-31 20:12] freedom-isnotanarchy opened #617 "Output: Ensure constant 5 columns. Improve over variable 4 or 5 columns"
OUTPUT: Ensure constant 5 columns. Improve over variable 4 or 5 columns
WHY: Hard to parse and interpret, the current variable output.
REQUESTED:
[code]
TODAY:
[code]

[2022-01-31 21:37] freedom-isnotanarchy commented on #617
I suggest that, outputting a variable number of fields, is some small barrier to Grype adoption by users.

For example, even neophytes can get "some mileage", just using Bash to parse, today. Like this:
[code]

But the more you try to do with, what Should Be, a very simple and dependable .CSV type of delimited format ?
That drives you to consider using Ruby, Python, etc. ... when all may be trying

[2022-01-31 21:46] kzantow commented on #617
You could just use templating to output an alternate format -- see the docs: https://github.com/anchore/grype#using-templates ; does this help?

[2022-02-01 23:13] freedom-isnotanarchy commented on #617
Thank you kzantow.  Based on your guidance, I've created a PR to simply address this "enhancement", with this documentation change, below.

This pull request: https://github.com/anchore/grype/pull/619

Alters only 1 file: https://github.com/freedom-isnotanarchy/grype/blob/doc-fix-enhancement-617-by-improving-templated-output-example/README.md

To address this enhancement: https://github.com/anchor

[2022-02-02 14:13] luhring commented on #617
My two cents: I agree w/ @kzantow, the table output is intended to be a highly simplified view for humans, not for programs. The JSON output can be used in shell scripts with [`jq`](https://stedolan.github.io/jq/), and the template output is probably plenty flexible.

[2022-02-02 21:07] luhring commented on #572
Awesome! Let us know if you need anything else.

[2022-02-02 21:07] #572 closed

[2022-02-02 21:48] luhring commented on #232
@developer-guy Fantastic! Let us know when this gets through the review process and merged, and we'll close this issue. 🚀

[2022-02-02 21:51] luhring commented on #542
@wagoodman Do you think it's possible this might be resolved when the upcoming changes to `install.sh` land?

[2022-02-02 21:57] luhring commented on #565
@jijames This is fascinating, thanks for the thorough investigation! So if I'm understanding the request here, it's that Grype be able to read SBOM files encoded as UTF-16LE?

[2022-02-02 22:32] jijames commented on #565
The problem can be generalized to "read SBOM from piped windows output." In my case that produced UTF-16LE, but I don't know if that's always the case for Windows 11 EN.

Note that specifying the output file in syft resulted in a usable file. But Syft has other Windows related... challenges not related to grype.

-------- Original Message --------
On Feb 2, 2022, 15:57, Dan Luhring wrote:

[2022-02-03 19:09] sambhav opened #620 "Grype filtering through CVSS vector"
**What would you like to be added**:

Grype currently ouputs a CVSS vector. Grype also has the ability to set a config file describing the kind of components that should be filtered from the output. It would be great if we can filter grype outputs based on certain parts of the CVSS vector (for eg. network exploitable vuln.)

**Why is this needed**:

Allows users to create filters for CVEs that act

[2022-02-03 21:53] luhring commented on #620
This is such a great idea. 🎉

Also leaving a couple of thoughts...

- Not all of Grype's matches have CVSS data, since it depends on if the matched upstream source had CVSS data. Just something to think about as we design the filtering semantics... (e.g. if I want only "network" vector vulnerabilities, do I show the non-CVSS matches? If I want to filter out the "network" vector vulnerabilities, do

[2022-02-04 04:45] freedom-isnotanarchy opened #621 "Data Model: Should the File being scanned be stored in a consistent way ?"
**What would you like to be added**:
The name of the file that grype ingested, is stored in a *variable* JSON location. See output from `grype -o json`

**Why is this needed**:
The grype CLI takes 1 and only file argument ...
[code]
Comparing the data model output for SAMPLE.docker.save and SAMPLE.war , shows different places:
[code]
as contrasted with this location ...
[code]

**Additional contex

[2022-02-04 10:24] Shiva19908 opened #622 "False positive CVE-2019-3873 for picketlink"
**What happened**:
Anchore Grype tool reports CVE-2019-3873 on picketlink package version 2.5.5.SP12-redhat-00009 which is a false positive. According to the discussion on wildfly github page https://github.com/wildfly/wildfly/pull/12582 and https://github.com/wildfly/wildfly/pull/12582/files  the vulnerable version is 2.5.5.SP12 and it was already fixed in version 2.5.5.SP12-redhat-00006. But the

[2022-02-04 17:46] freedom-isnotanarchy commented on #621
`Use Case`: Helping a user of Grype, needing to scan N files, and compare the results in a holistic fashion.
`What would help`: Allow/Assist, in some way to print out the Name of the File being scanned, in templet-ed output
`Example`: The leftmost field, the Primary Key, is the file being scanned ...
[code]

[2022-02-05 07:27] leonidsandler commented on #571
Hi, any news on this? I think this particular CVE is no longer a high priority threat, but I was wondering if potential attacker can change a name or some other packaging convention to avoid CVE detections in the future. Would you be open to share this problem was? Thank you!

[2022-02-06 19:14] luhring opened #623 "Template errors don't lead to non-zero exit status"
### Steps to reproduce

[code]

### Expectation

Any problems that warrant "error"-level log entries should cause the application to exit non-zero.

[2022-02-06 19:29] luhring opened #624 "Validate template at the beginning of execution, not after vulnerability matching"
**What would you like to be added**:

For cases where the user provides a template file to Grype, let's have Grype validate the template **at the beginning** of the app's execution. When given templates that have one or more problems (e.g. using invalid syntax or referencing unknown data components), Grype should show the user the problem(s) as quickly as possible after kicking off Grype.

**Why i

[2022-02-06 20:17] luhring opened #625 "Issues with Grype's handling of template output for invalid templates"
I'm seeing a couple of problems with Grype's template output for invalid user templates. These problems may be related and have a common cause under the hood, so I'm reporting them together here. Feel free to separate these out!

Also, these are related to, but different from, #623.

### Problem 1

Invalid template causes "ERROR" log entry with **ETUI** output, but "WARN" log entry with **logger**

[2022-02-07 10:45] karthickm512 opened #626 "False positive on Akka artifact"
**What happened**:
Grype reported false positive CVE-2017-1000034 while the software being scanned does not have the impacted version of Akka

**What you expected to happen**:
Expected CVE-2017-1000034 not being reported

**How to reproduce it (as minimally and precisely as possible)**:
Take a package that contains Akka 2.5.29 or so and scan with Grype

**Anything else we need to know?**:
No

**En

[2022-02-07 20:45] mattlorimor commented on #368
Amazon Linux package version numbers can also be different enough that looking at NVD to try to cross reference against Amazon Linux package versions is not straightforward. I would prefer to see ALAS start to behave like the RHEL Security Advisories where they issue ALAS advisories for unfixed CVEs.

[2022-02-07 20:47] Dentrax commented on #522
How should we proceed here? :)

[2022-02-08 13:32] michael-cico commented on #558
This also seems to be a false-positive with https://animal.uk.oracle.com/CVE-2021-22570.  Same symptoms.  Do we need a separate bug for that?

[2022-02-08 17:52] spiffcs commented on #558
We can keep this under this bug thanks for the follow-up!

[2022-02-08 20:39] michael-cico commented on #558
👍  thanks

[2022-02-10 16:03] #549 closed

[2022-02-10 21:43] #395 closed

[2022-02-11 09:56] turbobobbytraykov opened #629 "Expose Go template file that produces the table report"
Go template files that Grype would use internally to generate reports.:

Currently if someone wants to compose a Go template using the guidelines from the README file, there is a lot of logic that needs to be reverse engineered form the Grype code if you want to get the same output as Grype's default table (columnar) summary report.:

I am composing stylized XML (for Jenkins) and HTML (for emails)

[2022-02-11 12:55] luhring commented on #629
Hi @turbobobbytraykov! For the table output (along with the other built-in formats), Grype doesn't use the template engine. Grype's code to generate table output is here: https://github.com/anchore/grype/blob/main/grype/presenter/table/presenter.go

Is this because you need to have certain data values shown? Or is this because you need to create a template with different formatting for XML and HTM

[2022-02-11 15:51] turbobobbytraykov commented on #629
Hi, @luhring !
Thank you for the prompt response!
I saw the presenter.go code and I was hoping that instead of it, we could get a yaml template that is functions like it - with "won't fix' and all other trimmings - present and in the future.
Basically, if you have some presentation logic - which may change in the future - I'd like to be able to use a template file that I can also adapt based on yo

[2022-02-11 16:12] luhring commented on #629
Yes, correct — for the table output, we deduplicate rows based on the fields we're showing in that output format. So if two records are distinct only via fields that aren't shown in the table, we merge them. With template outputting, you have complete control over what you show, so you can merge records if you want, by your own strategy, or not merge at all.

Are you talking about [this logic](htt

[2022-02-14 01:50] samj1912 commented on #620
An idea on how to filter on CVSS fields - treat each field with a subset of glob matching rules - by default all fields that are not specified are assumed to be wildcards or will match any values that are present

for eg

[code]

will match all CVSS vectors with `AV` set to N, A or L.

Alternatively we can also specify

[code]

to match all attack vector not equal to physical.

Alternatively we ca

[2022-02-14 15:02] AleX77NP opened #632 "False positive (critical) on GHSA-8v27-2fg9-7h62"
**What happened**:
Grype false positive critical vulnerability on GHSA-8v27-2fg9-7h62, despite the fact that it has been Withdrawn.
https://github.com/advisories/GHSA-8v27-2fg9-7h62

**What you expected to happen**:
Grype should't have reported this as a critical vulnerability.

[2022-02-14 15:13] AleX77NP commented on #632
This image was used for testing: https://hub.docker.com/r/amopdev/grype-test

[2022-02-15 09:14] karthickm512 commented on #626
Attached the Grype finding that could throw more info to you
[Grype-akka.txt](https://github.com/anchore/grype/files/8067555/Grype-akka.txt)

[2022-02-15 09:44] karthickm512 opened #633 "False Positive on protobuf"
**What happened**:
Grype reported False positive on CVE-2015-5237 and CVE-2021-22570 while scanning GoLang Protobuf

**What you expected to happen**:
Grype not to report these vulnerabilities as these CVEs are on C and Java while GoLang is a different implementation

**How to reproduce it (as minimally and precisely as possible)**:
Run Grype scan on GoLang Protouf 1.26.0

**Anything else we need t

[2022-02-16 07:37] dapc11 commented on #633
This is already covered in https://github.com/anchore/grype/issues/558.

[2022-02-16 17:12] kzantow commented on #633
Thanks @dapc11 I'm going to close this as a dupe; please reopen if I have not understood properly!

[2022-02-16 17:12] #633 closed

[2022-02-17 15:24] wagoodman opened #637 "Ability to summarize and alter VEX documents"
As we start to introduce producing VEX documents https://github.com/anchore/grype/issues/591 , there are some input values which are manually curated (e.g. "affected" / "not affected", "justification", "response", etc). There are (at least) two opportunities here:

1. Provide a way to summarize documents provided as input
2. Provide a way to add or modify contents (such as indicate "not affected",

[2022-02-17 15:31] rjb4standards commented on #637
FYI: The SPDX SBOM team is working on a V2.3 release that includes the ability for a software vendor to provide a link to a vulnerability report that is independently updated from the static SBOM. The SPDX proposal uses existing ExternalRef capabilities and supports any type of vulnerability report format, i.e.

CDX VEX:
ExternalRef: SECURITY Disclosure  https://raw.githubusercontent.com/rjb4stand

[2022-02-18 11:51] davidgiga1993 commented on #305
Quick update: It doesn't work in all cases.
Example:
A docker registry uses a realm which is only reachable via proxy, the registry itself doesn't need a proxy.

[code]

Results in
[code]

[2022-02-18 16:56] tiguchi opened #638 "[CVE-2021-23820] Mixup between jsonpointer and json-pointer NPM packages"
**What happened**:

When using Grype for scanning a React CRA web app, the following false positive shows up:

[code]

There are two different JSON pointer packages available in the NPM registry:

1. [`jsonpointer`](https://github.com/janl/node-jsonpointer) which is currently at 5.0.0. It is, to my knowledge, not affected by [CVE-2021-23820](https://nvd.nist.gov/vuln/detail/CVE-2021-23820)
2. [`js

[2022-02-20 19:44] rsareth commented on #237
I face the same kind of issue with:

### 1. **jackson-mapper-asl**

I have these:
-   cpe: cpe:2.3:a:http\\:\\/\\/fasterxml-com:jackson-mapper-asl:1.9.13:*:*:*:*:*:*:*
-   purl: pkg:maven/jackson-mapper-asl/jackson-mapper-asl@1.9.13

instead of:
- cpe: cpe:2.3:a:fasterxml:jackson-mapper-asl:1.9.13:*:*:*:*:*:*:*
- purl: pkg:maven/jackson-mapper-asl/jackson-mapper-asl@1.9.13

### 2. **google protobu

[2022-02-20 22:17] josesa-xx commented on #600
It seems to me the only thing missing is grype capability of handling Anchore Policy Bundle files the same way inline_scan did.

It would be nice if grype itself would be able to handle this directly accepting as input the policy bundle file, something like this:
[code]

Since grype doesn't have the same functionality as inline_scan to make use of Anchore Enterprise policy bundle, I've created som

[2022-02-22 20:02] scottaglia opened #640 "CVE-2022-24086 missing"
**What happened**: Grype is not detecting CVE-2022-24086

**What you expected to happen**:  It looks like the file vulnerability.db is missing entirely the CVE.

**How to reproduce it (as minimally and precisely as possible)**: Download the latest db from https://toolbox-data.anchore.io/grype/databases/vulnerability-db_v1_2022-02-22T08:15:16Z.tar.gz and check for CVE-2022-24086

**Environment**:
[

[2022-02-23 01:53] wagoodman opened #641 "Add DB namespaces to the JSON descriptor block"
Similar to https://github.com/anchore/grype/issues/356 , it would be good to get more visibility out of what kind of data was used to match against the input SBOM/image. Specifically, having the list of DB namespaces present when doing the matching would go a long way for custom databases that may have additional namespace values to indicate that they were at least present during the search. In th

[2022-02-23 18:28] spiffcs commented on #640
Hey @scottaglia! Thanks for filing this. I'll take a look and see why this CVE has not made it into the DB yet and see if it updated today.

[2022-02-23 18:43] spiffcs commented on #638
Looks like this has been resolved https://github.com/manuelstofer/json-pointer/pull/36 where the vulnerability does not show up anymore. I'll take some time later to see how the match might have occurred on older versions and if we have other discrepancies like this.

[2022-02-23 20:52] tibers commented on #503
https://github.com/boxboat/grypeadmissioncontroller I wrote this and got permission to open source it. This might scratch your itch? :)

[2022-02-24 16:47] spiffcs opened #644 "Read attestation file, validate attestation, produce vulnerability report"
## What would you like to be added:
Grype should be able to consume SBOM inputs from verified image attestations.

### Context:
Attestations represent authenticated metadata about a set of software artifacts. They are normally intended for consumption by automated policy engines. They are stored as `layers` on `manifests` of a given image `digest`

Key attestation terms:
- [Envelope](https://githu

[2022-02-24 21:09] wagoodman commented on #304
From refinement:
- Let's shoot for the presenter approach which is well trodden and simpler than debugging template issues. (soft preference)

[2022-02-25 13:19] creckord commented on #431
Same here, current `spring-boot-starter-webflux` brings in `reactor-netty-http` and `reactor-netty-core` 1.0.15, which use netty 4.1.73.Final, but get matched to netty based on their own version `1.0.15`:

[code]

I don't know exactly what kind of information syft has in its Java matcher, but I think part of the problem is that the various actual netty dependencies of `reactor-netty-core` and `rea

[2022-02-25 13:23] creckord commented on #431
Followup question: Is it possible to exclude a cpe match via `.grype.yaml`, e.g. something along the lines of

[code]

I know can ignore this particular CVE for reactor-netty-http, but I would consider any `netty:netty` match on this package a false positive, and it would be great to be able to express that...

[2022-02-26 13:03] westonsteimel commented on #390
I think this makes a lot of sense.  There is at least an example of that scenario happening at https://github.com/anchore/grype/issues/445#issuecomment-939705285

I guess you could make it configurable?

[2022-02-26 13:53] westonsteimel commented on #390
Another thing which might potentially be useful (and should probably be configurable on individual ecosystem matcher level) could be if we find an NVD match and that CVE has a GHSA for another ecosystem (and the eocsystem we're matching for is supported by GitHub) we filter it out.  Hopefully that makes sense but if not I can try and explain it better.

[2022-02-26 23:43] wagoodman commented on #613
The artifact in ArtifactHub is currently a test image and needs to be replaced with an official image before this issue can be considered done.

[2022-02-27 22:14] debuglevel opened #648 "Write to multiple output files (like syft)"
**What would you like to be added**:
Unlike `syft`, `grype` does not seem to support writing to (multiple) output files:
`grype ubuntu:20.04 -o json=docker.vulnerabilities.grype.json -o table=docker.vulnerabilities.grype.table -o table`

Works with `syft`:
`syft ubuntu:20.04 -o json=docker.vulnerabilities.grype.json -o table=docker.vulnerabilities.grype.table -o table`

**Why is this needed**:
So

[2022-02-28 14:46] spiffcs commented on #648
Great suggestion @debuglevel. If I have some free time this week I'll look about grabbing this and upgrading grype in the way you described.

[2022-03-02 10:01] ssproessig-thales opened #651 "How can grype scan manually installed dependencies?"
When creating an image we have two manual steps:
- add Oracle Instance Client (by unpacking `instantclient-basiclite-linux.x64-xxxxx.zip` in `/opt`)
- add a compiled Python application to `/app` - this comes with `.pyc` files of the application and its Python virtual env with the dependencies

It would be cool if I could point `grype` to those directories for it to index them as well.

[2022-03-02 15:05] #481 closed, assigned to kzantow

[2022-03-02 21:35] woodsonmiles opened #653 "How do you configure grype to use a private certificate authority?"
I can see that support was added for this here: https://github.com/anchore/grype/pull/494

However, I cannot find any documentation that explains what command line option allows you to provide a private x509 cert.

I'm interested in this feature because I'm trying run this program from behind a corporate proxy, which prevents grype from loading its vulnerability database.

[code]

[2022-03-03 01:22] luhring commented on #653
Hi @woodsonmiles — I just took a look, and you're absolutely right. We need to document how to do this. 😱

It should be possible to use the environment variable `GRYPE_DB_CA_CERT`, where the value is set to the path to a PEM file that includes the private CA cert.

**Can you try that and let me know if you have any issues?**

And we'll keep this issue open at least until documentation is added.

[2022-03-03 06:45] Atharex commented on #600
Yes

That would be one alternative, but I guess it would mean copying the whole anchore engine functionality into this tool?

Thanks for the script, but it is not something I want. I realize there is always a way to script around the problem, but I would prefer to use the existing functionality in Anchore Engine to do policy evaluations (especially because of auditability)

[2022-03-03 18:46] pjbgf opened #655 "Syft spdx-json files with cataloger enabled results in `unable to identify format`"
**What happened**:

`grype` cannot process `spdx-json` files generated by `syft` when cataloger is enabled.

[code]

**What you expected to happen**:

`grype` should support this format which simply adds an extra element named files.
By removing it, `grype` is happy again:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Envir

[2022-03-03 19:04] luhring commented on #655
@pjbgf Thanks for reporting this!

@kzantow Can you take a look at this?

[2022-03-03 19:25] kzantow commented on #655
Yep, thanks for reporting this and providing an example!

[2022-03-03 19:35] kzantow commented on #655
Hi @pjbgf It appears the `SPDXID` values are invalid in the files section, such as: `"SPDXID": "50791f8ccfdc13e2",` the spec requires the ID is in the format `SPDXRef-<something>`, but it's missing the `SPDXRef-` prefix. Were these files generated by Syft or some other way?

[2022-03-03 19:49] kzantow commented on #655
Ok, I've figured out the issue here. It looks like you're using the `sbom-action` [to download Syft](https://github.com/fluxcd/flux2/blob/809cb798283296bb8b64acc7913ad180aad15374/.github/workflows/release.yaml#L29-L30), but it always has a pinned version that hasn't been updated in a little while, and it must be older than the one that has the aforementioned fix. We need to figure out a way to ens

[2022-03-03 20:04] pjbgf commented on #655
I downloaded the latest version (v0.40.0) on my machine and had the same problem by running:
[code]

But I agree with you, we need to update to the latest in our pipeline once this is fixed.

[2022-03-03 20:51] kzantow commented on #655
Ok, thanks for that context, I wasn't sure where the SBOM was coming from; let me dig into this further.

[2022-03-03 21:27] kzantow commented on #655
Ok, I tracked this one down to another export issue and will be fixed in https://github.com/anchore/syft/pull/863

[2022-03-03 21:33] kzantow opened #656 "Add `grype db list-namespaces` for users to determine the available distros to use"
With the addition of the `--distro` flag, it would be nice if a user could know exactly what values they should be using for this without having to somehow inspect the database, so we should add a command to list these, and consider updating the warning when no distro is found to tell them this command. Maybe something like:
[code]

[2022-03-04 11:55] pjbgf commented on #655
That's awesome, thank you so much @kzantow for the quick turn around. :bow:

Let us know when a new release is out so we can re-test, update our repositories and feedback accordingly.

[2022-03-04 16:25] woodsonmiles commented on #653
Hey @luhring , thank you for helping me find that variable. Alas, I haven't found luck with it. Hard to know if the issue is on my end. Perhaps you can spot my mistake?

My one idea is, I don't know for sure which cert authority is bothering grype. My company has 4 root authorities and I've tried them all, but maybe there is a different cert it doesn't like or maybe its in a slightly different for

[2022-03-04 16:25] kzantow commented on #655
@pjbgf new release created and the sbom-action updated, so please give this another try

[2022-03-04 16:38] pjbgf commented on #655
I have tested locally and I can confirm it now works as expected.

Thank you very much @kzantow. Will close this now.

[2022-03-04 16:38] #655 closed

[2022-03-04 19:46] kaser91 commented on #542
I have a problem when installing
I get the error as shown here
curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin
[info] checking github for the current release tag
[info] fetching release script for tag='v0.33.1'
[info] checking github for the current release tag
[info] using release tag='v0.33.1' version='0.33.1' os='linux' arch='amd64'
instal

[2022-03-04 19:49] kaser91 commented on #656
I have a problem when installing
I get the error as shown here
curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin
[info] checking github for the current release tag
[info] fetching release script for tag='v0.33.1'
[info] checking github for the current release tag
[info] using release tag='v0.33.1' version='0.33.1' os='linux' arch='amd64'
instal

[2022-03-04 19:55] kzantow commented on #656
@kaser91 your problem seems to be unrelated to this issue. you may need to run as sudo or install into a different location that doesn't require elevated permissions

[2022-03-06 16:24] luhring commented on #614
Thanks @Dentrax — we're waiting for those questions around Cosign's attestation spec to be cleared up before we implement something here in Grype.

[2022-03-06 16:39] luhring commented on #653
Hi @woodsonmiles, thanks for the log data. I think I'm understanding what's happening more specifically now.

It looks like the `GRYPE_DB_CA_CERT` adjustment actually worked, and the DB was downloaded successfully.

This config value controls the CA trusted for "DB curation" specifically, not all HTTPS requests that happen within Grype's execution. The PR you mentioned (#494) is specifically for D

[2022-03-07 14:32] wagoodman commented on #542
@kaser91 The main problem is here:
[code]
Note that `'/usr/local/bin` is not user writable by default, which means that you will have to take some additional action:
- install to another location and append that location to `PATH`: `curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b ~/bin` and `export PATH=~/bin:PATH`
- install to another location and copy int

[2022-03-07 14:33] wagoodman commented on #542
@wagoodman I haven't tried the install.sh out on the latest setup with Cygwin, however, I do think it should be covered. I can get a windows box / vm to try it out when I get some extra cycles.

[2022-03-08 10:25] karthickm512 commented on #626
ping @luhring

[2022-03-08 12:09] mkesper commented on #648
Yes, it would be nice to output e.g. table format for easy reading and CycloneDX or JSON for automation at the same time.

[2022-03-10 07:39] mkesper opened #660 "Include package URL purl in grype cyclonedx output"
**What would you like to be added**:

Grype CycloneDX output should include "purl" package URL information which is already present in syft output.

**Why is this needed**:

To give other tools a firm base for connecting their own information.
E.g. [Sonatype states](https://help.sonatype.com/iqserver/analysis/cyclonedx-application-analysis): When specifying components using its Package URL (tag <p

[2022-03-10 11:16] Dentrax commented on #304
Looking forward to this. I think @kzantow did a good job on https://github.com/anchore/grype/pull/654. If you have Docker image, we would like to test that PR in our infra. :)

[2022-03-10 13:28] developer-guy opened #662 "unable to query: mmap: invalid ReadAt offset 683458560"
**What happened**:

We (w/@dentrax @kursatoguzhanakinci) generated an SBOM for one of our images, then passed it to Grype to scan vulnerabilities and got the following error:

[code]

**What you expected to happen**:

To not produce any error

**How to reproduce it (as minimally and precisely as possible)**:

I've uploaded the SBOM result, you can use it to pass Grype to reproduce the issue.

**An

[2022-03-10 13:53] luhring commented on #662
Hi @developer-guy! When I use the `spdx.json` file from https://github.com/anchore/grype/files/8223744/spdx.tar.gz and then pass it into Grype, I'm not able to reproduce the error you mention — instead I see Grype's scan succeed.

I'm wondering what could be different between our setups... 🤔

[code]

[code]

Any ideas? Maybe it's the difference in macOS versions, somehow?

[2022-03-10 14:19] luhring commented on #577
(closing since the fix has been released)

[2022-03-10 14:19] #577 closed

[2022-03-10 14:23] luhring commented on #476
@spiffcs Can this be closed?

[2022-03-10 14:45] #476 closed

[2022-03-10 14:53] spiffcs commented on #653
Thanks @woodsonmiles for verifying this is working for you now! I'll close this issue unless you need anything else.

[2022-03-10 14:53] #653 closed

[2022-03-10 15:04] spiffcs commented on #648
Hey everyone! I've put my name on this one so I don't forget about it, but am working on another feature right now for attestations in syft. If any of you would like to take a stab at this feel free and I'll happily review the PR, add commits, and walk you through the contribution process. Otherwise I'll make sure to circle back on this when I have the time.

[2022-03-11 07:10] mkesper commented on #333
Aditionally, a template for creating JSON output would be very helpful. JSON is really nasty as it doesn't allow trailing commas in arrays etc.

[2022-03-11 08:04] wimi commented on #431
Any update on this? At this point we switched back to legacy engine, because there is just too many false positives...

[2022-03-11 16:15] seanleblancicdtech commented on #431
@wimi  - What version did you pick to go back to?

[2022-03-11 16:33] wimi commented on #431
Apologies for confusion - I am actually referring to main Anchore scanner (https://github.com/anchore/anchore-engine), which is now using grype as main scan engine by default. There is an option to use a legacy engine, which does not have this issue.

[2022-03-14 10:06] mkesper opened #663 "Offer verifyable cryptographic signature for checksum.txt"
**What happened**:

I checked the Releases page. No signature of the checksum file was found and no link to a way of checking its integrity.

**What you expected to happen**:

I expected to see some cryptographic signature to check the integrity of grype_version_checksums.txt.

**Anything else we need to know?**:

Please sign the checksum files via GPG and offer a reliable way to get the correspon

[2022-03-15 21:00] kbolander opened #669 "Panic: runtime error - when utilizing the vulnerability scanner on an cyclonedx sbom file input"
**What happened**:
I received a `panic: runtime error: invalid memory address or nil pointer dereference [signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0xc80ac1]` error when attempting to run grype on a valid cyclonedx SBOM. I've attached the sample SBOM I was attempting to scan (note, I had to save this as a .txt file in order to upload, so you'll need to change the extension to .js

[2022-03-15 21:04] kzantow commented on #669
Thanks for reporting this and especially providing a sample SBOM!

[2022-03-15 21:10] kzantow commented on #669
Simple solution here: https://github.com/anchore/syft/pull/892 :)

[2022-03-16 16:48] #669 closed

[2022-03-16 19:27] leonardsaraujo opened #672 "False positive CVE: 2016-5425 and CVE:2016-6325 pointing to a tomcat-jdbc.jar"
**What happened**:

When grype scans tomcat images it is reporting CVE: 2016-5425 and CVE:2016-6325 pointing to a tomcat-jdbc.jar file

Even if you look in the JAR file, the tomcat.conf file which is accused by the CVE above as a vulnerable file, does not exist.

`DEBUG ├── found  2 vulnerabilities  for pkg=Pkg(type=java-archive, name=tomcat-jdbc, version=8.5.76, upstreams=0)`
`DEBUG ├── vuln="CVE

[2022-03-16 19:53] pashok2398 commented on #625
Hi Team,
Same here
[code]
No warnings when executing grype directly on the image
[code]

[2022-03-16 23:06] samj1912 commented on #591
Now that syft support for cyclonedx 1.4 is out, I believe this is unblocked. I might be able to get around to a draft PR this week.

[2022-03-16 23:58] luhring commented on #591
That would be amazing! I'm very excited about this one.

[2022-03-17 14:26] Akasurde commented on #623
@luhring I raised a PR https://github.com/anchore/grype/pull/674 which might resolve this issue. Can you please take a look? Thanks,

[code]

[2022-03-17 16:14] jswager-cisco opened #676 "Grype reports some critical Vault CVE on itself"
**What happened**:
Installed Grype in a Docker image using the published installation instructions.

**What you expected to happen**:
Grype would not trigger any Critical vulnerabilities on itself.

**How to reproduce it (as minimally and precisely as possible)**:
Adding this to a typical Ubuntu based Docker image:
[code]
Then run "grype" on the resulting image and search for Critical vulnerabilit

[2022-03-17 17:20] westonsteimel commented on #676
Yeah, this is because syft pulls in sigstore as a dependency now, and grype depends on syft.  I think maybe @spiffcs was looking into this?

[2022-03-17 19:47] jswager-cisco commented on #676
@spiffcs - using `ubuntu:20.04`

And my apologies, I didn't report fully accurately.  We are installing syft in the image too:
`RUN curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh   | sh -s -- -b $BIN_DIR`

I might be wrong in that it's not a grype problem, but a syft problem.  Although, I do see - github.com/hashicorp/vault/api v1.4.1 here https://github.com/anchore/gryp

[2022-03-17 19:55] westonsteimel commented on #676
So, I have definitely encountered those results with syft `v0.39.3`, and just looked and looks like `v0.41.6` has same results

[code]

[2022-03-17 20:14] josesa-xx commented on #600
I just provided the bash script as simple description how to "implement" the functionality, hoping someone can pick on it and implement inside grype code.

[2022-03-17 20:22] cnaude opened #679 "Official container images published to https://gallery.ecr.aws/"
**What would you like to be added**:
I would like to see official container images published to https://gallery.ecr.aws/

**Why is this needed**:
Docker rate limiting

**Additional context**:

[2022-03-17 21:53] spiffcs commented on #676
Thanks @westonsteimel for the command. I've got the same locally. I'm going through each of these to be sure they are FP matching to generically against `"cpe:2.3:a:hashicorp:vault:v1.4.1:*:*:*:*:*:*:*"` rather than `vault-api`

[2022-03-18 16:56] wagoodman commented on #676
https://github.com/anchore/grype/issues/676#issuecomment-1071185031 essentially explains the behavior we're seeing; The CVE is for `hashicorp/vault` and not the go submodule `hashicorp/vault/api`, which share the same git repo, but different version lineages:

<img width="479" alt="Screen Shot 2022-03-18 at 9 58 57 AM" src="https://user-images.githubusercontent.com/590471/159016569-178499dc-4614-4

[2022-03-22 08:59] okohll opened #684 "Unable to determine the OS distribution (Ubuntu 20.04.4 LTS)"
The warning
`[0003]  WARN Unable to determine the OS distribution. This may result in missing vulnerabilities. You may specify a distro using: --distro <distro>:<version>`
is output when piping syft to grype.

My script:

[code]

Output:

[code]

**Environment**:
- Output of `grype version`:
[code]
- OS (e.g: `cat /etc/os-release` or similar):
[code]

[2022-03-24 06:57] karthickm512 opened #692 "False Positive on CVE-2020-36518"
**What happened**:
While scanning our software which has fasterxml: jackson-databind 2.13.0, Anchore reported CVE-2020-36518

**What you expected to happen**:
Expected to not see the CVE on jackson-databind as the NVD https://nvd.nist.gov/vuln/detail/CVE-2020-36518 states that the impacted version before (<)2.13.0 meaning it is excluded.

**How to reproduce it (as minimally and precisely as possib

[2022-03-24 09:33] ForceFaction opened #693 "grype cannot handle empty sboms, results in SIGSEGV"
**What happened**:
[code]

**What you expected to happen**:
No SIGSEGV. A message telling me that the sbom file is empty would be helpful

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Output of `grype version`: d8e1c37cd138675679ce1186833a5cc2bd0bbf69
- OS (e.g: `cat /etc/os-release` or similar): Ubuntu 21.10

[2022-03-24 09:42] ForceFaction commented on #693
[this](https://github.com/anchore/grype/blob/c9f27163896663bd0139a09db05abd0e9b30e51f/grype/db/v3/namespace.go#L121) may be the problem, because it checks if `p.PURL` is not the empty string, but ignores that it could be nil.

[2022-03-24 11:04] luhring commented on #693
@ForceFaction Thanks for spotting this! I can reproduce this on my machine. We'll get a fix out shortly.

[2022-03-24 15:50] sparrowt commented on #561
I've opened https://github.com/anchore/grype/pull/694 to include the Package/Artifact `Type` in the default table output which might be a step in the right direction.

[2022-03-24 16:12] sparrowt opened #696 "Matches should be sorted by package name for template output"
### Issue
When using a custom output template `-o template -t my.tmpl` the data available in `.Matches` is sorted in a non-intuitive order, different from the default (`-o table`) output.

Currently it seems to be sorted alphabetically by the Vulnerability ID (i.e. CVE-1, CVE-2, GHSA-a, GHSZ-b) which doesn't seem particularly useful and means that multiple vulns for the same package are not necess

[2022-03-25 00:35] luhring commented on #626
Hi @karthickm512, thanks for the Grype output excerpt. I'd like to be able to reproduce this scan result. Do you have a container image I could use to do a Grype scan to see if I get the same result?

[2022-03-25 00:38] luhring commented on #692
Hi @karthickm512, thanks for the report. Do you have an example of an artifact (e.g. a container image, JAR file, etc.) I could scan with Grype in order to reproduce this result?

[2022-03-25 11:56] luhring commented on #600
Hi all — thanks for the issue. Just as a heads up, we're not planning to port all of Anchore Engine's functionality into Grype. Our vision for Grype is that its primary responsibility is to **surface data** about a vulnerability assessment, not act on that assessment. We include minimal additional capabilities for convenience in very simple workflows (e.g. [severity gating](https://github.com/anch

[2022-03-25 12:28] luhring commented on #672
Hi @leonardsaraujo, from my initial reading of https://nvd.nist.gov/vuln/detail/CVE-2016-5425, it looks like the CVE record does indicate that this software is vulnerable, which would mean that Grype is surfacing this match correctly. Some distros' packaging of tomcat appear to have resolved the issue (such as Red Hat: https://access.redhat.com/errata/RHSA-2016:2046.html). Do you know of any autho

[2022-03-25 12:39] luhring commented on #663
This is a great idea, and it's something we've been talking about. The latest thought is to either use GPG or Sigstore. Regarding "what we sign", ideally we sign all release assets, in addition to the container images we publish to the registry.

[2022-03-25 12:48] luhring commented on #431
It looks like the analysis from @dakaneye and @creckord is right. We'll need to adjust our logic to produce less broad CPEs.

Today you can't ignore matches by package CPE, but that's an interesting idea. For now, you'd need to specify ignore rules for each vulnerability, which I realize could be cumbersome.

[2022-03-25 12:52] luhring commented on #333
@mkesper I'm curious about your use case. I agree re: the challenges of creating JSON using Go templates. Addressing that challenge might be outside the scope of Grype itself. But I can also think of other solutions that could possibly be less painful, such as piping Grype's JSON output through `jq`. Is there a specific JSON data shape you need to produce?

[2022-03-25 15:48] zhill commented on #600
Reading the ask, it does sound like the main ask is filtering on the vuln results. The gating, as you mention @luhring and also possibly the go-template capabilities of Grype to filter and present items of interest only (e.g. with fixes, or in a specific domain) might be accomplished with those using templates folks could share and/or embed in CI jobs.

@josesa-xx and @Atharex is it accurate to co

[2022-03-28 07:08] karthickm512 commented on #692
Hi, Our software as such is confidential so I cannot share that. But this Grype finding can be reproduced by just having your own software with fasterxml-jackson-databind 2.13.0 version included.

[2022-03-28 07:29] karthickm512 commented on #626
Hi, sorry the software/image is confidential. However, this could be reproduced if you include the artifact https://mvnrepository.com/artifact/com.typesafe.akka/akka-actor_2.12/2.5.29

[2022-03-28 11:18] leonardsaraujo commented on #672
Hi @luhring, I saw that some distros solved the problem. However, the problem is that the file that Grype is reporting does not exist, I mean the "tomcat.conf" that you can see described by CVE, instead it is reporting a problem in a tomcat JAR that also does not contain any such "tomcat.conf" file .

[2022-03-29 14:13] karthickm512 commented on #692
Just to update, NVD has been updated to include even 2.13.0 as affected version. So this ticket is now meaningless. @luhring

[2022-03-29 17:49] pjbgf commented on #558
I can confirm this is still the case - we are experiencing the same for flux cli:
[code]

[2022-03-30 05:52] karthickm512 commented on #692
yes. Thank you

[2022-03-30 05:52] #692 closed

[2022-03-30 13:48] spiffcs commented on #561
Since there has been no response from the original author on this and the location is correctly included in the grype output I'm going to close this issue for now. @sparrowt it looks like @luhring has responded on your PR so that should be moving along through our PR process and does not need to be filed on top of this issue.

[2022-03-30 14:13] spiffcs commented on #696
Thanks @sparrowt! Let me take a look at the template presenter and see if there is an option through [sprig](https://github.com/Masterminds/sprig/search?q=sort) to make this happen.

There is already a custom `getLastIndex` function, but I'll check if we could expose other functions to allow users to sort the collections as they see fit in the templates.

[2022-03-30 16:27] #696 closed

[2022-03-30 16:52] ssbano opened #700 "Clair vs Grype"
Hi,

I have noticed a different score and amount of cve entered between products is this normal?

https://youtu.be/mhzKCz__dS0

Best Regards,
Fabio Sbano

[2022-03-30 19:07] spiffcs commented on #700
Hi @ssbano!

Without specific cases comparing the two, or more data on what was scanned, I don't think an issue on the repository is appropriate at this time. We're happy to look and see if any criticals are being missed or give a closer look at "normal" for your specific use case.

Closing this for now, but let me know if you have any questions.

[2022-03-30 19:07] #700 closed

[2022-03-30 19:39] spiffcs commented on #700
@ssbano if you have a sample repository setup with the above dashboard I'm happy to take a look at the differences and report back to you on the nuances and differences we have

[2022-03-30 21:25] ssbano commented on #700
@spiffcs ,

Thank you very much for your attention i will provide a url in demo.fsbano.io

Please give me a few days to organize the environment

I will put the source code in git and the access url for analysis

Best Regards,
Fabio Sbano

[2022-03-30 22:13] woodsonmiles opened #701 "hemidall converter"
**What would you like to be added**:
Converter from Grype to MITRE's [Heimdall Data Format](https://saf.mitre.org/#/normalize) (HDF). MITRE SAF has a well-defined [process for building converters](https://github.com/mitre/saf/wiki/How-to-recommend-development-of-a-mapper). Likely, the best way to integrate would be to build a grype-to-heimdall file converter as a pull request in the MITRE SAF repo

[2022-03-31 09:57] mkesper commented on #333
We faked [output from clair scanner for input into NexusIQ](https://help.sonatype.com/iqserver/analysis/clair-application-analysis). The format is quite different from the grype json output so we created a template for it.

[2022-03-31 11:55] sparrowt commented on #696
Wow, many thanks @spiffcs, really appreciated!

[2022-03-31 18:23] nijel opened #702 "panic: runtime error: invalid memory address or nil pointer dereference"
**What happened**:

Recently, anchore/scan-action@v3 started to fail on https://github.com/WeblateOrg/docker with:

[code]

I'm not aware of any related change on our side, so it is most likely something in the action or grype. The full log can be found here:

https://github.com/WeblateOrg/docker/runs/5765205172?check_suite_focus=true

**What you expected to happen**:

No panic :-)

**How to repro

[2022-04-01 03:28] ssbano commented on #700
@spiffcs ,

Follow the repository below
https://github.com/ssbano/anteather/

Best Regards,
Fabio Sbano

[2022-04-01 05:51] ksw9722 opened #704 "grype can't detect spring4shell (CVE-2022-22965)"
**What would you like to be added**:
When i scanning CVE-2022-22965 using grype, grype can't detect this issue.
ex) grype vulfocus/spring-core-rce-2022-03-29

**Why is this needed**:
Check  CVE-2022-2296 in vulnerable spring framework.

**Additional context**:

[2022-04-01 13:17] robert-heinzmann-logmein commented on #704
Yes, when scanning a sample image (https://hub.docker.com/r/arey/springboot-petclinic/) syft finds the spring core package

[code]
grype vulnerability db knows about it

[code]

.. but it does not alert

[2022-04-01 14:38] ssbano commented on #700
@spiffcs ,

DEMO - LIVE - https://ssbano.github.io/anteather/

Best Regards,
Fabio Sbano

[2022-04-03 12:40] samcro1967 commented on #511
I am seeing similiar errors in 2 images with hyphens in their version name.

**grafana/grafana-image-renderer**
[code]

**ghcr.io/linuxserver/sqlitebrowser**
[code]

[2022-04-04 07:43] Atharex commented on #600
My use case here are custom policies, like presented here (https://engine.anchore.io/docs/general/concepts/policy/policy_checks/). I use more gates than just vulnerabilities (dockerfile, files, packages, etc. ), which I would like to keep in my  pipeline. For this case I rely on the inline_scan script, (which scans locally built docker containers and sends results to my Anchore Engine service).

S

[2022-04-04 09:39] ik1zow opened #707 "Mismatch between go template field name and json field"
**What happened**:

    When defining a template to print the component with vulnerability issue the field name is "
"{{ (index .Artifact.Locations 0).RealPath }}"
while on json file (producted with -o json) the field name is "path" (instead of RealPath)

**What you expected to happen**:

I expect that field name reported on json is same as the one to be defined on template to select that field.

[2022-04-04 13:45] #632 closed

[2022-04-04 13:47] spiffcs commented on #632
Also confirmed using the image that resulted in the issue in the first place:
<img width="648" alt="Screen Shot 2022-04-04 at 9 47 04 AM" src="https://user-images.githubusercontent.com/32073428/161558061-1753283e-84ca-4c06-a87f-633f6d0ed8a6.png">

[2022-04-04 15:14] xendk commented on #702
We've been seeing this too.

[2022-04-04 15:34] creckord commented on #431
Actually, excluding a vulnerability by package CPE would be nice, too. But I was talking about excluding an artifact match from a CPE. In this case, I would like to say that `"name": "reactor-netty-http", "type": "java-archive"` is never, ever a match for `"cpe:2.3:a:netty:netty:*:*:*:*:*:*:*:*"`

I found this a highly useful feature that e.g. the OWASP Dependency Scanner has in their rather exten

[2022-04-04 15:43] kzantow commented on #702
Ah, looks like this was already fixed in Syft [v0.34.3](https://github.com/anchore/grype/releases/tag/v0.34.3) we just needed to get the scan-action updated. I published a new version: https://github.com/anchore/scan-action/releases/tag/v3.2.2

I was able to verify this same error using `v0.34.1` and that it is fixed using:
[code]

[2022-04-04 15:48] PriceChild commented on #702
@kzantow Thanks, my case is working again now.

[2022-04-04 15:58] kzantow commented on #702
@nijel if you have a chance, would you be able to verify this works for you now?

[2022-04-04 16:25] spiffcs commented on #704
Thanks @ksw9722 for the report and @robert-heinzmann-logmein for the analysis here.

Looking at the DB entries in the output from @robert-heinzmann-logmein leads me to conclude a few initial things.

First, the CPE list generated for `spring-core` does not contain anything that could match the package name `libspring-java` which is how the current DB entries from NVD are listing it. It looks like

[2022-04-04 16:48] spiffcs commented on #704
Upon further investigation, it looks like the vulnerability is not being selected from the DB because of the package name mismatch. I have not been able to conclude if the version constraints will fail, but I have been able to find that no vulnerabilities are being selected for the respective sub-packages to match against.

https://github.com/anchore/grype/blob/ad9918a6812d4d83cd885bc5787a2b2f1b64

[2022-04-04 18:12] briandking commented on #704
It's the hierarchy of the class. E.g.
[code]

If someone else was to make a class called 'beans', the org.springframework portion identifies it as this specific beans implementation

[2022-04-04 18:24] spiffcs commented on #704
Nice! - We generate this hierarchy when the `pomProperties` shows up under `JavaMetadata`. I think it gets categorized as the `groupId`. This is consistent with the above `packageNamer` function since PomGroupID is used on the first pass.

In the syft output for `spring-webmvc` I do not see `pomProperties` being populated.

[2022-04-04 19:55] kzantow opened #708 "Add the Syft JSON schema version to `grype version` command"
**What would you like to be added**:
Add a `Syft JSON version` or something similar to the `grype version` output.

**Why is this needed**:
In order to understand which Syft schema version is supported by a particular Grype version.

**Additional context**:
This was an ask by community member Behrouz Soroushian: https://anchorecommunity.slack.com/archives/C027JE5M345/p1649089630253619

[2022-04-05 06:15] xendk commented on #702
Fixed it here too.

[2022-04-05 22:25] exortech opened #709 "Consistent sort order for grype output"
**What would you like to be added**:
It would be fantastic if the output produced by grype was consistently ordered. It does appear to be sorted by NAME, but a secondary sort by VULNERABILITY would ensure that the output is rendered consistently across runs.

**Why is this needed**:
We commit the output of our grype runs to version control after updating dependencies. The inconsistent sorting crea

[2022-04-06 02:37] freedom-isnotanarchy commented on #709
I agree with the value of this enhancement. The proposed "consistently  rendered output", any consistent sort whatsoever, makes diffs possible.

[2022-04-07 15:56] #702 closed

[2022-04-07 19:01] spiffcs opened #711 "Optional External Data Source Reference for Maven Packages"
**What would you like to be added**:
With the addition of https://github.com/anchore/syft/issues/887 syft now is able to provide `sha1` digests for java packages.

Grype should optionally (off by default) be able to use this data to query upstream java repository sources to enhance the fidelity of matching against vulnerability data that is based on `Maven` or other registry information.

**Why is

[2022-04-07 19:56] sudo-bmitch opened #712 "False positive of CVE-2020-16250 and CVE-2020-16251"
**What happened**:

I'm getting some false positives on `github.com/hashicorp/vault/api` because Grype sees `api/v1.5.0` as the same as `v1.5.0`.

- <https://github.com/hashicorp/vault/releases/tag/api%2Fv1.5.0>
- <https://github.com/hashicorp/vault/releases/tag/v1.5.0>

Similar things happened with the sdk release.

**What you expected to happen**:

No false positives.

**How to reproduce it (as

[2022-04-08 05:56] nijel commented on #702
Sorry for not responding, I was busy with other stuff. The scan works fine with 0.34.4, thanks for pushing the fix!

[2022-04-08 08:31] adriens opened #713 ":whale: anchore/grype currently having two High sevrity issues (CVE-2015-5237 & CVE-2021-22570)"
# :point_right: Context

I was searching if grype was available as an API and I found the Docker image [anchore/grype](https://hub.docker.com/r/anchore/grype/).

So I had the fun "eat your own :dog:  food driven  idea and ran this dumb command :

[code]

Still the output was quite surprising :

![image](https://user-images.githubusercontent.com/5235127/162396654-1f345035-22fd-447b-aff6-9779ace81c9

[2022-04-11 07:44] umeshkumhar opened #715 "Panic while running scan on directory"
**What happened**:
grype throws panic while running scan on mounted ubuntu.qcow2 image.

[code]

**What you expected to happen**:

This should run with a result summary of issues in a given path.

**How to reproduce it (as minimally and precisely as possible)**:

1. Mount ubuntu.qcow2 image on host path `/umes`
`guestmount -a ubuntu-14.04-server-amd64.qcow2 -i --ro /umes`
2. Download latest grype

[2022-04-11 14:07] luhring commented on #715
I **_think_** this is the same root issue as https://github.com/anchore/syft/issues/872 — in which case the fix here is to update Grype to the latest Syft.

[2022-04-11 19:39] Pivotal-Jeff-Jun opened #716 "Cyclonedx xml report does not include vectors"
**What happened**:
When comparing cyclonedx report and Syft JSON report generated with grype, cyclonedx report doesn't seem to have vector information.

_Snippet from cyclonedx report:_
[code]
_Snippet from syft JSON report:_
[code]

**What you expected to happen**:
Expected both to have similar vulnerability information, including vectors

**How to reproduce it (as minimally and precisely as poss

[2022-04-11 20:19] Pivotal-Jeff-Jun opened #717 "Same CVEs have different severity"
**What happened**:
Scanned two images with same CVE, but they have different severity.
_ubuntu image (flagged with Medium)_:
[code]
_nginx image (flagged with High)_:
[code]

**What you expected to happen**:
Expected them to have same severity

**How to reproduce it (as minimally and precisely as possible)**:
[code]

Compare `CVE-2018-25032` entry. They have different severity.

**Anything else we

[2022-04-12 07:24] Sandy2292 opened #718 "Grype gives error 'unable to query: mmap: invalid ReadAt offset ', while running on SBOM packge list generated by syft"
I followed the below steps to run syft and grype but the grype is not able to read packages and giving below errors:
1. Ran Syft on my installed system using below command, Which generated a list of packages.
         **_syft packages / -o json > Packages-SBOM.json_**
2. The tried to run grype on the generated file 'Packages-SBOM.json' by syft, but grype reported below errors for each package in t

[2022-04-12 13:16] skuethe opened #719 "enhancement: add support for `s390x` arch"
**What would you like to be added**:
I want to extend multi arch builds for `s390x` platform.

**Why is this needed**:
I would like to use `grype` on zLinux systems running `s390x` architecture.

**Additional context**:
I will open a PR for this

[2022-04-12 13:47] skuethe commented on #719
PR: https://github.com/anchore/grype/pull/720

[2022-04-13 14:34] jonmcewen opened #723 "Java CVEs not detected from sparse CycloneDX SBOM"
**What happened:**

When using grype to check a CycloneDX SBOM not produced by syft, Java vulnerabilities were not detected.

**What you expected to happen:**

Vulnerabilities should be found by language when there is no CPE and no syft metadata

**How to reproduce it (as minimally and precisely as possible):**

Using a CycloneDX SBOM with minimal component info and known CVEs such as:

{
  "name"

[2022-04-13 15:43] rdelcampog commented on #701
Would be very nice to have Grype reports integrated into Sonarqube.

[2022-04-13 15:59] myrkytyn opened #724 "Templates for grype output. HTML template"
Hi! Does someone have templates for grype? I need to scan my images to human-readable format HTML.

I think will be great if we can have a directory with templates for grype project.

[2022-04-13 17:01] #711 closed

[2022-04-13 18:06] freedom-isnotanarchy commented on #724
(1) ((directory with templates)): Yes, great idea !
(2) Here is 1 grype template that I use:
`"0-FILE:"#"PACKAGE:"#"VULNERABILITY:"#"SEVERITY:"#"Is Fixed:"#"Version Found:"#"Version Fixed:"#"Type:"#"Namespace:"#"Package URL:"#"Vulnerability Source:"#"Description:"#"URLS:"
{{- range .Matches}}
"__FILENAME__"#"{{.Artifact.Name}}"#"{{.Vulnerability.ID}}"#"{{.Vulnerability.Severity}}"#"{{.Vulnerabilit

[2022-04-13 22:18] adriens commented on #561
:clap:

[2022-04-14 03:33] adriens commented on #561
Working perfectly good https://dev.to/optnc/grype-0350-new-feature-indicate-location-of-vulnerability-1pam
Its now part of our stack.
Thanks a lot guys 🎆

[2022-04-14 08:09] adriens commented on #709
Also, is sorted from `Critical`-> Negligible` it would make `| head`` much more interesting as people usually are looking for the worst one.

So finally it leads to make `grype` more efficient for end user :muscle: :pray:

[2022-04-14 11:13] luhring commented on #715
Hi @umeshkumhar — we just released a new update to Grype. I believe this should be fixed, but would you be able to try again and let us know what you see?

[2022-04-14 15:32] jonmcewen commented on #723
SBOM to test with: running `mvn package` on this project will produce a cycloneDX SBOM that grype should report at least 10 vulnerabilities on

https://gitlab.com/jonmcewen1/spring-from-template

[2022-04-14 15:37] exortech opened #728 "False positive for clipboard.js: CVE-2014-5509"
**What happened**:

CVE-2014-5509 (https://nvd.nist.gov/vuln/detail/CVE-2014-5509), which is a Perl utility, is being associated with clipboard.js (https://github.com/zenorocha/clipboard.js) - presumably because they share a common name and have overlapping versions.

**What you expected to happen**:

This CVE should not be associated with the clipboard.js module.

**How to reproduce it (as minima

[2022-04-14 15:49] exortech commented on #728
I assume that this could have something to do with the warnings in the output from grype:

Perhaps grype does not recognize type="npm"?

[2022-04-14 15:50] exortech commented on #728
Here's the associated output from the SBOM file:
[code]

[2022-04-16 20:14] samcro1967 commented on #724
Is the correct usage to redirect the output to an html file for viewing in a browser in a human readable format?  It generates the html files with the output, but it is not formatted in any way.  Guessing I a not doing this correctly or am missing something.

[code]

![image](https://user-images.githubusercontent.com/2319445/163690019-1aba4cc8-3825-4ea8-85ce-6f0608031ae6.png)

[2022-04-16 21:34] adriens commented on #724
Sorry for asking here, but it's also template related.

Is there any `markdown` ready to use template ?... I'd like to psot-process it with `pandoc` to build a ready to use automated documentation toolchain... human redable.

BTW : that would fix the `html` generation.

[2022-04-19 08:14] adriens opened #732 ":grey_question: Call grype from container to scan (podman) host containers :grey_question:"
# :point_right: Context

This afternoon I did a short `grype` demo to a sysadmin. We are currently running containers thanks to `pdoman`. He was very positively impressed bu the tool.
Then he asked

So I answered :

But he wanted to run `grype` from its docker distribution, from `podman`.

- So he called it from the interactive to scan an image from `docker.io` :arrow_right: :+1:
- .. Then from wi

[2022-04-19 18:36] #715 closed

[2022-04-20 22:02] josesa-xx commented on #600
In my case I wanted to make use of the same policy defined in anchore enterprise server (that I can download into a file policy_bundle.json) so I could use it in "offline scan"  with grype the same way i used to do with inline_scan.

In our case the anchore enterprise server is pretty much overloaded so scans can be pretty slow, while running offline with grype the scan is much faster and independ

[2022-04-20 22:36] nwl commented on #600
Hi @josesa-xx - this functionality is designed to be provided by AnchoreCTL which is part of the Anchore product. Grype is a pure OSS project and is not designed to have Anchore specific functions with it. Please contact our support team to discuss further. Thanks!

[2022-04-21 09:27] #718 closed

[2022-04-21 18:52] #644 closed

[2022-04-25 14:27] seidkevi opened #734 "empty score with related vulnerabilities"
**What happened**:

vulnerabilities do not have a score if there is a related vul. (maybe only if the ids match)

[alpine3.10.7_vulreport.zip](https://github.com/anchore/grype/files/8555419/alpine3.10.7_vulreport.zip)
here an extract of the report:
[code]

**What you expected to happen**:

the "root" vulnerability to have the proper score

**How to reproduce it (as minimally and precisely as possi

[2022-04-25 21:24] anilkumarmyla opened #735 "False positive for log4j-over-slf4j: CVE-2020-9493"
Simlar to https://github.com/dependency-check/dependency-check-gradle/issues/192
[code]

[2022-04-26 13:15] luhring commented on #735
Adding repro steps:

[code]

[2022-04-26 23:14] hectorj2f commented on #591
@luhring Are there any plans to support CycloneDX 1.4 in the incoming releases ? Do you have an idea when that could happen ? Thanks :).

[2022-04-27 18:19] spiffcs commented on #704
@ksw9722 We merged https://github.com/anchore/grype/issues/711 and it was tested with a couple of different images showing this vulnerability is now being detected. I'm going to close this issue for now since we're detecting the vulnerability in question when using the new external data source workflow.

If you have questions let me now and I can reopen this if anything seems incorrect. Thanks!

[2022-04-27 18:19] #704 closed

[2022-04-27 20:16] Mike4Online commented on #684
I get a similar issue running `grype` (installed via homebrew) on macOS Catalina (with Intel CPU):

[code]

Here's output from **grype version**:

[code]
And here's output from **sw_vers**:

[code]

I've tried specifying various forms of `darwin` or `macos` and a version via the `--distro` command line parameter, to no avail.  Faking the `os-release` file doesn't help either.

[2022-04-28 02:18] ksw9722 commented on #704
@spiffcs Thank you!
I checked that grype can detect Spring4Shell.

[2022-04-28 12:56] ckotzbauer opened #736 "Dotnet-Support"
**What would you like to be added**:
Support for .NET Core (relates to anchore/syft#951)

**Why is this needed**:
Dotnet is an important tech-ecosystem.

**Additional context**:
I tried to add support by myself, but it didn't work with a prepared docker-image (or SBOM from the image)
1. Updated syft-dependency to my local fork from anchore/syft#951
2. Implemented and registered a matcher for dotne

[2022-04-28 16:49] #591 closed

[2022-04-29 14:09] billythach opened #737 "Grype performance issue"
**What happened**: Hi! I used the Harbor Scanner Adapter (https://github.com/anchore/harbor-scanner-adapter) to scan images from Harbor UI.
Harbor set the Http client timeout to 5 seconds (https://github.com/goharbor/harbor/blob/main/src/pkg/scan/rest/v1/client.go#L98) and each time, Harbor ask the vulnerabilities reports, the harbor http request ends with an _Context Deadline Exceeded_ causing by

[2022-04-29 17:01] rmccarth opened #739 "Show layers from where a vulnerability originated"
**What would you like to be added**:

Similar to the old anchore format, please show the layer/inheritance status of a particular layer which contains vulnerabilities.

**Why is this needed**:

Functionality from anchore inline scan was powerful and should continue.

[2022-04-29 19:21] luhring commented on #591
@hectorj2f Just released!

[2022-05-01 20:08] luhring commented on #737
@zhill If you get a chance, can you take a look at this? It sounds like this may not be a Grype-specific issue, but perhaps an issue with a deployment of Anchore Engine? (I'll gladly stand corrected if we can come up with a way to reproduce with Grype itself. 😎 )

[2022-05-01 23:38] luhring commented on #717
There are two different data sources being used between these two matches.

It looks like the Ubuntu image is being matched with Ubuntu's vulnerability data for CVE-2018-25032 — https://ubuntu.com/security/CVE-2018-25032. This record is stored in Grype's DB in the `ubuntu:20.04` namespace.

And the Nginx image is being matched with Debian's vulnerability data for CVE-2018-25032 — https://security-

[2022-05-02 15:54] billythach commented on #737
FYI : we have **anchorePolicyEngine** set with theses ressources
` resources:
   limits:
     cpu: 3
     memory: 6G
   requests:
     cpu: 2
     memory: 5G`
In my case, with a fresh installation, i think it's adequate because allthese resources seem not to be consumed and i don't found more policy or grype settings to tune.

[2022-05-03 09:49] gmontalvoy opened #740 "Add support to bci images"
**What happened**

While Grype works well on sle-based images:

[code]

The same does not happen with the new bci-based images even with syft installed and available.

[code]

**What you expected to happen**:
I'd expect Grype to be able to perform vuln scans also on bci

**How to reproduce it (as minimally and precisely as possible)**:

`grype registry.suse.com/bci/bci-base:15.3` and it will detec

[2022-05-03 13:53] luhring commented on #684
Hi @okohll and @Mike4Online — thanks for the feedback. We've adjusted these warnings. There are expected cases where Grype can't determine something (such as IDing a distro when Grype doesn't have access to distro identification files), so we shouldn't be warning in these cases. You can find more details on the specific logging changes in #741, if you're interested!

We should have a patch release

[2022-05-03 14:05] #684 closed

[2022-05-04 15:00] westonsteimel opened #743 "Support comparisons between pseudo version numbers for Go modules"
**What would you like to be added**:

Grype should support comparisons on [Go module pseudo version numbers](https://go.dev/doc/modules/version-numbers#pseudo-version-number).

**Why is this needed**:

Grype currently misses potential vulnerability matches when pseudo version numbers are used.  An example is https://github.com/anchore/syft/issues/972 where Grype is unable to detect https://github.

[2022-05-06 09:48] billythach commented on #737
I have customized the https://github.com/anchore/harbor-scanner-adapter config with setting **SCANNER_ADAPTER_FULL_VULN_DESCRIPTIONS** attribute to **false**
With a fresh installation, its seems to works fine :
[code]
The slow query above  seems absent during the generation of vulnerabilities reports.

[2022-05-06 20:50] zhill commented on #737
@billythach hello and thanks for this very detailed write-up! Glad you're using the harbor adapter and appreciate the feedback!

As you mention, the description hydration is not a fast path for Anchore in general since the descriptions may be very large and Anchore doesn't control that content directly. The scanner adapter does have it's own built-in CVE description cache (see the table in the rea

[2022-05-08 22:59] olljanat commented on #736
Perhaps you need enable `RestorePackagesWithLockFile` setting ( https://devblogs.microsoft.com/nuget/enable-repeatable-package-restores-using-a-lock-file/ ) on projects which you are scanning like it is needed on Trivy?

[2022-05-09 05:03] ckotzbauer commented on #736
I don't think so @olljanat. The packages are listed in the SBOM, so it's no MS related problem.
From anchore/syft#951:

[2022-05-11 01:37] williamh opened #744 "add Gentoo Linux support"
Hi all,

I am a packager for Gentoo Linux, and I am interested in adding both this package and syft to our distribution.
I see that you list several distributions you support, but Gentoo is not on that list, so I thought I would open up an issue and ask before I attempt to package them. Is there anything specific that I can share with you about Gentoo so that it can be supported?

If you need a se

[2022-05-11 18:34] williamh commented on #744
It looks like @zmedico is going to be able to assist with this.

[2022-05-13 16:46] #736 closed

[2022-05-13 19:36] kzantow opened #748 "More accurate "no OS distribution" messaging"
We should revert [lowering the "no OS distribution found" message to debug](https://github.com/anchore/grype/pull/741/files#diff-ab967ab1a2f3a1b769106eeb7bfe892ef0e81d1d27811fa15be08e6749feee1fL376-R377), but change the logic to only show this when we have OS packages _without_ an OS distribution. The idea behind this warning is when importing SBOMs from other vendors which don't have sufficient i

[2022-05-16 10:40] markbastiaans opened #750 "Java JDK 8 framework version not detected correctly"
**What happened**:
I'm scanning a CycloneDX SBOM with the following component:
[code]

Grype does not detect the version correctly: it apparently does not take the `update332` into account in the scan results, and finds all vulnerabilities for any JDK with version 1.8.0.

Note that `cpe:2.3:a:oracle:jdk:1.8.0:update332:*:*:*:*:*:*` is the "official" CPE as listed in the NIST NVD database for the J

[2022-05-19 12:45] luhring commented on #471
This looks like it's been resolved in the current release (and possibly prior releases, too). I'll close this.

[2022-05-19 12:45] #471 closed

[2022-05-19 12:48] luhring commented on #470
It looks like this has been resolved at some point in the past. When I follow the repro steps, I now see this:

[code]

Much more clear 🎉  I'll close this issue.

[2022-05-19 12:48] #470 closed

[2022-05-20 04:40] karthickm512 opened #753 "False positive CVE-2016-0956"
**What happened**:
While scanning our software that packs Apache Karaf 4.3.7 (contains [org.apache.sling.commons.johnzon] 1.2.14), CVE-2016-0956 is reported

**What you expected to happen**:
As per NVD https://nvd.nist.gov/vuln/detail/CVE-2016-0956#match-3424223 , the impacted artifacts are apache.sling. till 1.0.12 while the available 3pp component and version present in target karaf is different

[2022-05-20 11:57] Dentrax opened #754 "ux: db: update: append more information about the next update"
**What would you like to be added**:

We can enrich the following subcommand by adding some details about the next update. For example, current db version, next db version, released datetime, is compatible, digest, etc.

[code]

**Why is this needed**:

For better UX and knowledge.

**Additional context**:

cc @developer-guy

[2022-05-21 12:16] luhring commented on #754
Great idea!

[2022-05-21 15:17] luhring commented on #525
Checking in to see if we have a way to reproduce the problem. If not, no worries, we can close this issue for now.

[2022-05-21 21:00] AErmie commented on #732
I was able to successfully run grype from a docker container, against another (locally built) docker container, using the following:

[code]

[2022-05-22 20:02] avermeer commented on #558
Same false positive with google.golang.org/protobuf v1.28.0 ...  any hope for a fix ?

[2022-05-22 21:32] luhring commented on #600
I'm going to close this for now: it sounds like the general question "Any replacements for the inline scanning script?" has been answered. In short, Grype is the current OSS solution for vulnerability-focused workflows. For any more complex policy or Anchore Enterprise specific logic, users should check out AnchoreCTL and get in touch Anchore customer support for further support questions.

[2022-05-22 21:32] #600 closed

[2022-05-24 11:29] Product opened #756 "WARN unknown package metadata type="" for packageID="xxxx" from-lib=syft"
how to solve this ? than you very much.
#syft packages ./tidb/ -o syft-json > tidb_syft-packages.json
#grype sbom:./tidb_syft-packages.json

---start---
.........
.........
.........
[0010]  WARN unknown package metadata type="" for packageID="fd1baa641b196868" from-lib=syft
[0010]  WARN unknown package metadata type="" for packageID="97a9b2528c9822e7" from-lib=syft
[0010]  WARN unknown package me

[2022-05-24 11:54] luhring commented on #756
Hi @Product, can you share what's in the `./tidb/` directory? That would help us figure out what's going on here.

[2022-05-24 14:16] Product commented on #756
thank you for your reply .
The tidb directory is uncompress dir  ,the zip file  download from here :https://github.com/pingcap/tidb/archive/refs/heads/master.zip

[2022-05-25 08:55] BrianPfitz opened #757 "Request vulnerability data by a single cpe string"
**What would you like to be added**:
Hey guys, first of all thanks for this great tool! I really like working with Syft and Grype.
However, I would find it very practical to be able to query the Grype database with individual cpes (or with a list of several cpes). This is currently not possible, is it? Is there a possible workaround for this?

**Why is this needed**:
After an initial scan, I would

[2022-05-25 14:27] jeremybryan opened #760 "False Positives Reported for Apache Activemq-Artemis-Native"
**What happened**:
Apache Activemq Artemis Native (https://github.com/apache/activemq-artemis-native) is being mapped to activemq even though it's a separate project and is managed independently.

Examples:
Latest activemq-artemis-native=1.0.2, but appears it is be being treated like activemq=1.0.2

org.apache.activemq:activemq-artemis-native

**What you expected to happen**:
The ActiveMQ vulns to

[2022-05-25 17:43] jonasagx commented on #735
Current scan results for this jar:
[code]

Possible CPEs to trigger a match with [CVE-2020-9493](https://nvd.nist.gov/vuln/detail/CVE-2020-9493):
[code]

I tested the vuln scan without this CPE `"cpe:2.3:a:apache:log4j:1.7.36:*:*:*:*:*:*:*"` and the two matches no longer happen. Is it reasonable to generate `"cpe:2.3:a:apache:log4j:1.7.36:*:*:*:*:*:*:*"` for `log4j-over-slf4j-1.7.36.jar`?

[2022-05-25 19:16] spiffcs commented on #757
Thanks @BrianPfitz for the enhancement suggestion! Just to get clarity here - you want something like `grype xxx <CPE1> <CPE2>` to get full details from the DB about what was found?

Current workaround would be to do something like getting the DB from sqlite and querying via the cli or a DB program like `DB Browser Sqlite`:
<img width="1792" alt="Screen Shot 2022-05-25 at 3 15 16 PM" src="https://

[2022-05-25 19:41] BrianPfitz commented on #757
Hey @spiffcs, thanks for your answer!
Yes, exactly! Just as you can run ```grype sbom:path/to/syft.json```, it would be nice if you could also run
```grype cpe:path/to/cpe_list.csv```.
In principle, the query for vulnerabilities should be based on the CPEs and less on the countless other pieces of information contained in an SBOM, right? If so, this "feature" could be implemented relatively straig

[2022-05-26 13:24] spiffcs commented on #757
Awesome! I'll talk with the team here and we can prioritize getting a look at adding this. Feel free to take a stab at writing a small PR to if you think it's straightforward =)

[2022-05-26 17:05] cpendery opened #762 "grype fixed version cyclonedxjson"
**What would you like to be added**:

Add a fixed version for grype. It makes sense to me to add in under the properties of a vulnerability.

[code]

**Why is this needed**:

It is given in the `-o json` output and not in the cyclonedx json output

**Additional context**:
I have an issue here https://github.com/CycloneDX/cyclonedx-property-taxonomy/issues/12 to add a grype namespace. Please feel f

[2022-05-26 17:10] cpendery opened #764 "grype db diff command"
**What would you like to be added**:
Add a command that supports creating a diff between two grype databases

Output could look something along the lines of what's below
[code]

**Why is this needed**:
I'd like to be able to see what has changed in the database since I last updated / looking back for analysis purposes

**Additional context**:
Issue for tracking my progress contributing this featur

[2022-05-26 18:14] jonasagx commented on #754
For reference, here is the debug logs from grype currently when an update is available:
[code]

That info comes from [this struct](https://github.com/jonasagx/grype/blob/10c360449864cc91115b23fc267c5ca2273639fc/grype/db/listing_entry.go#L17-L25) representing an update candidate.

[2022-05-26 19:10] jonasagx commented on #676
This issue is fixed in grype with https://github.com/anchore/grype/pull/761 merged.

[2022-05-26 19:10] #676 closed

[2022-05-27 12:16] ida-greuelr commented on #724
Inspired from the html output of https://sourceforge.net/projects/command-output-to-html-table/ I created a simple html table template. Works fine for me, is human readable and interactive:
[code]
Copy/paste into a file like `html.tmpl` and run for example:
[code]
Praise the sourceforge project for its html layout :1st_place_medal:  !

[2022-05-27 14:26] nicbet opened #767 ""Matcher failed to parse version" when scanning a Ruby project using bundler 2.2.0 or newer"
**What happened**:
grype does not recognize Ruby gems with an architecture suffix specified in `Gemfile.lock`.

[code]

as a result it reports a fixed gem as vulnerable:

[code]

**What you expected to happen**:

Grype can successfully parse `Gemfile.lock` packages that contain the architecture suffixes introduced with Bundler 2.2.0 in December 2020.

Example `Gemfile.lock`:

[code]

**How to repr

[2022-05-27 20:44] mrmoosefish opened #768 "Add purl and CPEs to CycloneDX output"
**What would you like to be added**:

Add purl and CPEs and to component output in CycloneDX format.

**Why is this needed**:

Importing this into a tool that consumes CycloneDX format SBOMs (e.g., Dependency Track) requires purls or CPEs to do vulnerability lookups.

**Additional context**:

It appears the data is gathered because it's included in the JSON output format.

[2022-05-27 20:52] mrmoosefish commented on #768
Cancel that. Syft already does this.

[2022-05-27 20:52] #768 closed

[2022-05-29 20:41] adriens commented on #732
Thanks a lot for the great cde snipper...and sorry for my late answer.
Hopefull the PR will be merged https://github.com/anchore/grype/pull/769

[2022-05-30 04:45] rightblank commented on #525
Hi, We run across this same issue with the same exact error message, and the db looks fine.
[code]

[code]
And there is a similar related issue. https://github.com/anchore/syft/issues/784.

[2022-05-31 09:59] rightblank commented on #525
Hi, I just figured out that the code read the file with LittleEndian while actually our platform is s390x which uses BigEndian. that's why it interprets the page size from 4096 to 1048576.
https://github.com/knqyf263/go-rpmdb/blob/730f48726ee618c9d0ef021c5a4e668222e35c6e/pkg/bdb/hash_metadata_page.go#L24

[2022-05-31 11:14] karthickm512 commented on #626
@luhring

[2022-05-31 20:42] luhring commented on #74
@wagoodman Checking with you before taking action — but I'm thinking we might be able to close this now, since we can use our "ignore" functionality to filter by fix state now (https://github.com/anchore/grype#specifying-matches-to-ignore)

[2022-06-01 00:05] wagoodman commented on #74
Oh yeah, this is an oldie goldie

[2022-06-01 00:05] #74 closed

[2022-06-01 13:22] spiffcs commented on #724
@ida-greuelr this is awesome!

[2022-06-01 13:40] spiffcs commented on #713
Thanks for the issue @adriens we are aware of those vulnerabilities however have gone through and double-checked that this code is not being executed by grype and is pulled in as a transitive dependency.

Please see https://github.com/anchore/grype/issues/558 for where we are tracking this!

Closing as it's a duplicate, but very much appreciate the dogfood-driven approach.

[2022-06-01 13:40] #713 closed

[2022-06-01 13:49] spiffcs commented on #709
Thanks for the issue @exortech! This looks like a pretty good option for a community PR or first issue if anyone on this thread wants to take a stab. If not I'll try and get around to this as soon as I have some time.

[2022-06-01 14:27] spiffcs commented on #662
@developer-guy can you run this again and see if it's still an issue? I have not been able to generate this error on my end as well.

[2022-06-01 14:30] spiffcs commented on #638
Vulnerability is no longer showing up and is being detected correctly on our end for our current CPE generation logic.

[2022-06-01 14:43] spiffcs commented on #609
@samj1912 I'm going to close this now since both the vault vulnerabilities have been removed from syft (and by relation grype) and we've updated our CPE logic so that we're no longer namespacing the vault vulnerabilities incorrectly.

If you have questions, comments or think this has been closed in error just let me know!
https://github.com/anchore/syft/pull/1003 <-- Removal of vault vulnerabiliti

[2022-06-01 14:43] #609 closed

[2022-06-01 15:45] spiffcs commented on #174
The most recent version of grype allows users to use a keyboard interrupt to cancel the program without breaking the terminal. If there are edge-cases where this is not the case we can reopen this issue, but I was able to validate the cleanup and interrupt locally on my machine for `v0.38.0`

[2022-06-03 19:40] wbadart opened #771 "`grype` flags CVE from unrelated package with same name"
**What happened**:
Running `grype dir:.` in the root of a Svelte project I'm working on reports

[code]

**What you expected to happen**:
On further investigation, it seems that [CVE-2020-11052](https://cve.circl.lu/cve/CVE-2020-11052) was an issue with the [`sorcery` ruby gem](https://rubygems.org/gems/sorcery), not the [`sorcery` npm package](https://www.npmjs.com/package/sorcery). `grype` succe

[2022-06-04 01:29] maqzee-git commented on #709
➕ 1️⃣ for this one

[2022-06-04 17:13] andmagom opened #772 "Different reported CVEs between container image and filesystem methods for the same source code"
**What happened**:
Grype generates a different report for filesystem scanning and container image scanning for the same source code

**What you expected to happen**: Grype generates the same report for filesystem scanning and container image scanning for the same code

**How to reproduce it**:
### Filesystem method
1. Download the [ v4.4.0 vscode server version](https://github.com/coder/code-serve

[2022-06-05 21:11] ThomasVitale opened #773 "Suppress invalid CVE-2016-1000027"
**What happened**:

The CVE-2016-1000027 is flagged as critical for applications using any 5.x version of the Spring Framework.

**What you expected to happen**:
The Spring team has explained that the CVE is invalid (https://github.com/spring-projects/spring-framework/issues/24434 and details https://github.com/spring-projects/spring-framework/issues/24434#issuecomment-744519525), so I would expec

[2022-06-06 16:53] jonasagx commented on #767
I can look into that.

[2022-06-06 19:14] mvs5465 opened #774 "Feature Request: Native Support for AWS Elastic Container Registry (ECR)"
**What would you like to be added**:

Hi, we are working with grype as an [admission controller](https://github.com/boxboat/grypeadmissioncontroller) and we are running it in an AWS EKS environment where images are stored in ECR.

**Why is this needed**:

When grype pulls an image from a private registry, it uses credentials stored in a docker config.json file. However, authenticating with AWS ECR

[2022-06-06 20:01] mvs5465 commented on #774
Looks like grype uses stereoscope as a provider, and an issue for ECR support is open there as well: https://github.com/anchore/stereoscope/issues/65

[2022-06-07 14:21] #623 closed

[2022-06-07 14:21] #625 closed

[2022-06-07 14:33] johanneskastl opened #777 ".goreleaser.yaml: Copy&Paste leftover version.syftVersion?"
Not sure, but this looks like a leftover from copy&paste and should be `version.grypeVersion`?

https://github.com/anchore/grype/blob/8163c9f9881cb787e58a0c437015b7c7cffaf57a/.goreleaser.yaml#L30

[2022-06-07 14:36] #777 closed

[2022-06-08 14:14] willyw0nka opened #779 "GHSA-x24g-9w7v-vprh included in grype 0.38.0"
**What happened**: Scanning a docker image that contains only grype reports a critical vulnerability (GHSA-x24g-9w7v-vprh)

**What you expected to happen**: Scanning a docker image that contains only grype reports no vulnerabilities

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a docker image from the following Dockerfile
[code]
2. Scan the docker image using `syft d

[2022-06-08 14:27] willyw0nka commented on #779
This issue is fixed on commit 07dfb2871830a60219a072e348eed6567be9a2b4 but not pushed into a release. Is there a planned date for the next release?

[2022-06-08 14:33] westonsteimel commented on #779
Thanks @willyw0nka , we are hoping to get releases out later today.  Also, regarding the version bumps of github.com/containerd/containerd and github.com/theupdateframework/go-tuf to address the others, we are aware and working on those, but the go-tuf one requires updating cosign and there are several breaking changes there that we need to address and the containerd one has some breakages within

[2022-06-08 21:07] andmagom commented on #772
Hi @luhring @spiffcs ! How are you two ?
Did you two have a chance to review this ticket ?
The amount of vulnerabilities is affecting the reputation for some docker images that include VScode server

[2022-06-09 06:16] westonsteimel commented on #779
Sorry we weren't able to get releases out yesterday; hopefully we can cut them today.  Good news is we did get https://github.com/anchore/syft/commit/b8d1a46e7e5f39be39a2f4b7b5d803c95c6723ab in to address GHSA-66x3-6cw3-v5gj within syft, so once the syft release is cut we'll get that one updated in grype as well.

[2022-06-09 21:51] westonsteimel commented on #779
[v0.39.0](https://github.com/anchore/grype/releases/tag/v0.39.0) of grype has just been released and should take care of all except for GHSA-5ffw-gxpp-mxpf.  We're still working through resolving some dependency conflicts on that one

[2022-06-10 06:40] willyw0nka commented on #779
Thank you for your efforts!

[2022-06-10 06:40] #779 closed

[2022-06-10 11:12] cpendery opened #782 "Add a dockerized workflow for local dev"
**What would you like to be added**:
I'd like to have a compose or docker workflow for developing locally.

**Why is this needed**:
Grype is supported on Linux and Mac, but has no containerized development environment to support easy local dev or developing on a Windows machine

**Additional context**:

[2022-06-10 16:11] spiffcs commented on #739
@rmccarth thanks for filing an issue!

When I run `grype -o json node:latest` I get a list of vulnerabilities in that image.

Here is an example of one of those vulnerabilities:
[code]

Under `matchDetails` there is a section called `locations`.
This array is a list of files associated with the vulnerable package along with their corresponding `layerID`.

Is this the information you're looking for

[2022-06-10 18:09] #767 closed

[2022-06-10 18:32] jonasagx commented on #240
I can look into this.

[2022-06-11 13:30] BrianPfitz commented on #757
Hello @spiffcs,
Were you able to discuss my proposal in your meeting? What are your opinions on this?

In the meantime, I have looked over the code from time to time and have to conclude that it is unfortunately not as simple as I first thought. This is because everything is closely linked to Syft and the creation of an SBoM. Unfortunately, you can hardly reuse a function only with a CPE (and with

[2022-06-11 14:42] rmccarth commented on #739
What I sorta had in mind when I posted this was a flag that showed whether or not the vulnerability originated in something like the 'FROM:' directive of the Dockerfile vs something that was from a higher layer in the image. Based on what you provided above, I could write some custom code to resolve this myself, but I wasn't sure if it was some functionality provided out of the box or not.

[2022-06-13 14:39] Karreg commented on #491
Hello there,

Is there any update on this issue? I'm still having these false positives, still for the redis python library:

[code]

[2022-06-13 17:12] ehm-93 opened #784 "Template pipelines don't seem to work in 0.39.0"
**What happened**:

Trying to use the following template :

[code]

on v0.39.0 fails with:

[code]

and removing `byMatchName` fails with:

[code]

Both produce the markdown table as expected on v0.38.0:

| NAME | INSTALLED | FIXED-IN | TYPE | VULNERABILITY | SEVERITY |
|------|-----------|----------|------|---------------|----------|
| bash | 5.0-6ubuntu1.1 | 5.0-6ubuntu1.2 | deb | CVE-2019-18276

[2022-06-14 02:16] mparuszewski commented on #784
I've noticed similar problem on the same version of `grype`, I cannot use `substr` function from `sprig` package:

[code]

It looks like we need to take into account `funcMap` (https://github.com/anchore/grype/blob/main/grype/presenter/template/presenter.go#L79) when doing sanity check for the template (https://github.com/anchore/grype/pull/674/files#diff-713e48c5d99fbf4c144f73510c8e20559e36e3716f

[2022-06-14 02:47] mparuszewski commented on #784
I believe https://github.com/anchore/grype/pull/786 should fix this problem.

[2022-06-14 17:02] #782 closed

[2022-06-14 17:07] spiffcs commented on #757
Thanks @BrianPfitz we've run into the same challenges you mentioned, but I have not had time to dig as deep as possible to come up with a solution I'm totally happy with for this one. Currently, I've also been browsing the DB to search for a highlighted match, but do admit it would be nice to have some CLI access in this manner.

When things start moving more on this issue and we have a solution w

[2022-06-14 17:37] cpendery opened #787 "Update grype documentation to include golang"
**What would you like to be added**:
Golang is supported in grype under the `github:go` namespace inside Grype's database, so it should be in the documentation.

**Why is this needed**:
Support for golang exists so it should be documented

**Additional context**:

[2022-06-15 16:48] #240 closed

[2022-06-16 16:25] #784 closed

[2022-06-16 19:59] #787 closed

[2022-06-17 12:24] 06kellyjac commented on #739
I'm also interested in this. Generally I have a very simple container with 1 thing so it's obvious where the problems come from but I'm working with a big container and I have no idea which binary/file is raising the issues beyond "it's go, it's python" etc

[2022-06-17 18:54] cpendery opened #792 "Include php in Grype supported languages"
**What would you like to be added**:
php, via composer, should be listed in Grype's supported languages

**Why is this needed**:
Composer is a namespace under Github in the Grype databases as early as May

**Additional context**:

[2022-06-17 19:14] #792 closed

[2022-06-17 22:33] cpendery opened #794 "grype feature parity with osv.dev"
**What would you like to be added**:
I'd like the data sources of grype to be at least inclusive of the ecosystems in osv.dev. I'm happy to contribute support for these, but I don't believe the code is currently open sourced for producing the databases

**Why is this needed**:
We could use a wider range of vulnerabilities included to scan against. It makes the product more complete and powerful

*

[2022-06-21 08:01] usmankhanisb opened #796 "OWASP dependency track is not listing vulnerabilities (cyclone dx format) from grype , syft is working however"
**What happened**:
OWASP dependency track is not listing vulnerabilities (cyclone dx format) from grype , syft is working however . Grype cyclonedx sbom only listing components.

**What you expected to happen**:
List vulnerabilties correctly so that various dashboard tools like depenendcy track can enlist vulnerabilties. just syft generated SBOM (cyclonedx format. )
**How to reproduce it (as minim

[2022-06-21 21:50] #762 closed

[2022-06-22 13:13] cpendery commented on #796
Happy to pick up this issue if @spiffcs  you want to assign me to it. I believe that the json output is currently 1.4, but I can update the presenters to be 1.4 for the xml

[2022-06-22 15:20] spiffcs commented on #796
Thanks @cpendery! I'm working on this today, but I really appreciate the offer.

[2022-06-23 16:42] josecoimbra opened #797 "Not finding vulnerabilities in php (composer)"
**What happened**: Using grype as usual with a php (composer) project: `grype dir:.` produces an empty list of vulnerabilities.

**What you expected to happen**: A list of vulnerabilities.

**How to reproduce it (as minimally and precisely as possible)**: I tried with [this project](https://github.com/pimcore/pimcore), which is a composer project, and grype found no vulnerabilities. Even checking

[2022-06-23 16:56] HellBoss69 commented on #772
I have same issue identified on my side and here is a first analysis I did:

### Docker Image method

For npm, packages are identified and related vulnerabilities as well in any case (if package-lock.json is present or not)

### Using Filesystem method

For npm, package are not identified if package-lock.json file is missing. In case package-lock.json is present, packages are identified and relate

[2022-06-24 16:09] cpendery opened #800 "False flagging"
**What happened**:
Grype is shadowing the Redis databases's vulnerabilities over the pypi redis package

**What you expected to happen**:
No vulnerabilities should be reported since the package isn't vulnerable.

**How to reproduce it (as minimally and precisely as possible)**:
## File
[code]
## Command
[code]
## Output
[code]
**Anything else we need to know?**:

**Environment**:
- Output of `gryp

[2022-06-24 16:16] andresmascl commented on #204
Hi!  Has there been any updates regarding this feature?

[2022-06-24 16:21] spiffcs commented on #800
Nice catch @cpendery - I guess this is another case of the CPE being too losely formed since `pypi/redis` is distinct from `cpe:2.3:a:redis:redis:*:*:*:*:*:*:*:*`

Can you add the CPE generated that's resulting in this bad match?

[2022-06-24 16:33] cpendery opened #801 "grype outputs not listed properly"
**What happened**:
Grype doesn't list all it's supported outputs

**What you expected to happen**:
I expected the vex json & vex xml to be listed in the supported outputs

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Output of `grype version`: `40.0`
- OS (e.g: `cat /etc/os-release` or similar):
[code]

[2022-06-24 16:38] cpendery commented on #800
@spiffcs here are the cpes
[code]

[2022-06-24 16:55] cpendery commented on #797
@josecoimbra Added an issue in Syft since it doesn't have a cataloger for `composer.json` files. Adding that should resolve this issue

[2022-06-24 20:23] cpendery opened #805 "grype db update command has no spinner"
**What happened**:
The command runs with no ui and then produces the message `Vulnerability database updated!`

**What you expected to happen**:
I expect the same progress bar UI to play as what happens during the same event when scanning

**How to reproduce it (as minimally and precisely as possible)**:
Delete the database and run `grype db update`. Redelete the database and run `grype dir:.` and

[2022-06-24 20:46] cpendery commented on #805
Almost ready to pr and fix this

[2022-06-24 21:54] adriens opened #807 ":grey_question: What does Unknown mean :grey_question:"
# :grey_question: What happened

When analyzin [Bitnami Kafka image](https://hub.docker.com/r/bitnami/kafka/) I felt on the `Unknown` value :

[code]

![image](https://user-images.githubusercontent.com/5235127/175697302-002d3193-f310-44d4-b572-fc272ad54b03.png)

:point_right: **So I don't knwo what to answer to the security team**

## :heavy_check_mark: What you expected to happen

I was expecting

[2022-06-24 22:06] cpendery commented on #807
Hey @adriens happy to help provide some clarity on this. You can see that the source this cve is getting pulled from is the Debian database. If you check the severities of these CVEs in this data sources, you'll find they don't actually report the vulnerability. For example, [CVE-2021-3999](https://security-tracker.debian.org/tracker/CVE-2021-3999) doesn't have a severity. If you want to understan

[2022-06-24 22:13] adriens commented on #807
Thanks a lot for making this much more clear to me. Your explanation makes totally sense.

Thanks for very fast feedbac :pray:
Have a great weekend.

[2022-06-24 22:13] #807 closed

[2022-06-24 23:02] adriens commented on #792
Thanks a lot for this issue :heavy_heart_exclamation:
https://dev.to/optnc/grype-v0401-released-and-php-support-1ekc

[2022-06-25 13:09] cpendery commented on #800
Based on my analysis of the database, there will never be a case where the vendor and the product have the same name. In addition, viewing the [cpe database from NVD](https://nvd.nist.gov/products/cpe) shows that the same is true for all cpes in the database. As a result, I think we can safely remove the case where the vendor and product name are identical, which will resolve this false positive.

[2022-06-26 16:13] olljanat commented on #736
@ckotzbauer Do I read this right that your implementation only do scan vulnerabilities in packages which are used by .NET project? Not vulnerabilities in .NET it selves? Tested with `grype mcr.microsoft.com/dotnet/runtime:6.0.5` and it does not list *CVE-2022-30184* which [was fixed by 6.0.6](https://github.com/dotnet/core/blob/main/release-notes/6.0/6.0.6/6.0.6.md)

[2022-06-27 04:08] ckotzbauer commented on #736
Yes, currently only project dependencies are parsed.

[2022-06-27 14:26] #797 closed, assigned to nobody

[2022-06-27 14:42] Dentrax opened #809 "How to print results to both stdout and a file?"
By default, grype prints all results in table format to stdout. In the pipeline I want to show the vulnerabilities in human-readable table format and also exporting the scan results into a file but audit/provenance purposes.

[code]

Current workaround is to run grype twice with different flags (which decreases UX and increases pipeline duration):

[code]

I could `$ cat result.json` here to show

[2022-06-27 14:45] cpendery commented on #800
As @westonsteimel pointed out, the cpe dictionary isn't cumulative, so I missed cases where this does in fact occur, closed the pr as it isn't a fix for the issue and worsens overall accuracy and will look for other potential fixes

[2022-06-27 14:54] spiffcs commented on #809
@Dentrax I think we could update the commands surface area to give you the ability to both print the results and write to some destination. @wagoodman would you want this to be added as an additional flag?

[2022-06-27 15:26] #801 closed

[2022-06-27 23:37] cpendery opened #811 "feat: use ghsa to improve matching for cpes"
Another thing which might potentially be useful (and should probably be configurable on individual ecosystem matcher level) could be if we find an NVD match and that CVE has a GHSA for another ecosystem (and the eocsystem we're matching for is supported by GitHub) we filter it out.  Hopefully that makes sense but if not I can try and explain it better.

_Originally posted by @westonsteimel in http

[2022-06-27 23:37] cpendery commented on #811
I wanted to keep track of this idea when my pr closes its source issue in order to investigate in the future

[2022-06-28 05:56] westonsteimel commented on #811
Yes, so I'm already working on a feature for this internally.  It will be configurable to define some hierarchy of namespaces which should be considered authoritative.  I'll let you know when I'm ready with it and you can try it out.

[2022-06-28 18:21] #805 closed

[2022-06-29 12:39] joshbressers commented on #809
This could be accomplished with the request in #648 (syft already can do this)
That issue also has example output flags

[2022-06-29 19:41] freedom-isnotanarchy opened #815 "Add support for Swift/Cocoapods, Kotlin, and Rust"
**What would you like to be added**:
- Add support for Swift/Cocoapods, Kotlin, and Rust.
- tidelift.com supports these.

**Why is this needed**:
- tidelift.com supports these.

**Additional context**:

Kotlin (Android) :  <-- (What does it use ?)
Rust (Cargo)  :  <---  TideLift 2022-q3
Swift (Cocoapods)  :  <--- TideLift  2022-q3
---------------------------
C# (Nuget)  :  TideLift  2022-q3
C# Dot

[2022-06-29 19:49] spiffcs commented on #815
Thanks for the issue @freedom-isnotanarchy! I'll go through our issues and see if we have individual issues already filed for these 3 requests. Also did you mean to include more detailed links in the description that shows the support? Would you mind if I removed the excessive duplicated `support.tidelift.com` links from the issue?

[2022-06-29 19:51] freedom-isnotanarchy commented on #815
Feel free, to remove.
I'm just including, to show Parity with Grype.  As well as any Gap that Grype has with TideLift. (It was a copy/paste)

[2022-06-29 20:02] kingjs10 opened #816 "false positives in logstash image"
**What happened**:
Image from opensearch/elastic shows false positives
https://hub.docker.com/r/opensearchproject/logstash-oss-with-opensearch-output-plugin

CVE-2014-9390
"path": "/usr/share/logstash/vendor/bundle/jruby/2.5.0/specifications/git-1.9.1.gemspec"

CVE-2015-7545
"path": "/usr/share/logstash/vendor/bundle/jruby/2.5.0/specifications/git-1.9.1.gemspec"

CVE-2016-2324
"path": "/usr/share/

[2022-06-29 20:05] spiffcs commented on #816
Thanks for the issue @kingjs10. I'm working on a few other issues at the moment, but I made sure to give this the correct false positive label so that we can keep track of why some of these vulnerabilities are being incorrectly flagged.

[2022-06-30 08:07] adriens commented on #807
[related post on DEV.to](https://dev.to/optnc/kafka-image-wurstmeister-vs-bitnami-efg)

[2022-06-30 12:17] cpendery commented on #815
Happy to take on adding support in Syft and Grype for Swift/CocoaPods once I finish up Hex support

[2022-07-05 18:33] spiffcs commented on #510
Feed services should be fixed and labeling these correctly now.

[2022-07-05 18:33] #510 closed

[2022-07-05 19:06] mvs5465 commented on #774
To add some follow-up information: we found out that the ECR credential helper tool wouldn't work, I believe it is intended to be used when there is a Docker daemon running.

Instead we managed to generate creds for grype by running a kubernetes cronjob to periodically generate ECR credentials and store them in a docker `config.json` file that grype can use.

Native support is definitely still pre

[2022-07-06 08:30] acthtml opened #817 "false positive for CVE-2019-16374 for npm platform"
**What happened**:
grype results in CVE-2019-16374 for [npm package platform](https://www.npmjs.com/package/platform).  However, npm platform.js is a helper tool which returns os version, name..., it is nothing refers to  CVE-2019-16374(Pega Platform)

**What you expected to happen**:
No false positive for CVE-2019-16374 when using npm platform package.

**How to reproduce it (as minimally and pre

[2022-07-06 18:07] nurmi opened #820 "RPMs installed as appstream/modules can result in false positives"
**What happened**:

On RPM-based systems where appstream/modules are supported (e.g. centos stream, rhel/ubi), false positive vulnerabilities can be reported due to the system using 'latest fix' version information across different streams.  For example, postgresql has 9.6, 10, 12, 13 appstreams, and even though a container image might have the latest 'postgres 9.6' package installed that is not v

[2022-07-08 19:20] spiffcs commented on #724
Closing this issue with the template provided if anyone else objects or has related pr to file under issue just tag me and we can sort it

[2022-07-08 19:20] #724 closed

[2022-07-08 19:20] spiffcs commented on #724
Closing this issue with the template provided if anyone else objects or has related pr to file under issue just tag me and we can sort it

[2022-07-09 17:27] Anonimo501 commented on #571
Hola.
 Yo tambien estoy en la búsqueda de algún exploit o código que pueda vulnerar CVE-2021-44224 y CVE-2021-44790, si alguien sabe de algo lo agradecería mucho.

Saludos.

[2022-07-10 12:23] ckotzbauer commented on #736
@olljanat I checked this again: The built-in packages are listed and scanned correctly from my dotnet-code in syft and grype:
[code]

The reason why the Nuget.* deps are not listed for the runtime-image is, they are not included there (as nuget is used at compile-time and not at runtime).

So there should be no issue with the scanning here.

[2022-07-10 12:48] olljanat commented on #736
@ckotzbauer that explains the result. Thanks for sharing.

[2022-07-11 16:48] nba1992 opened #821 "panic: runtime error: index out of range [0] with length 0"
What happened:
panic: runtime error: index out of range [0] with length 0 when dealing with files without extension.

What you expected to happen:
Support when file has no extension?

How to reproduce it (as minimally and precisely as possible):
On Windows, execute it , guaranteeing that inside a folder, there is a file without an extension.

Anything else we need to know?:
As mentioned in https:/

[2022-07-11 16:57] #821 closed, assigned to nobody

[2022-07-11 18:27] spiffcs opened #823 "Integration Coverage for New Pacakges"
**What would you like to be added**:
We've had a lot of catalogers added for syft. We should do a quick scrub on the integration test side to make sure we can keep adding coverage where appropriate for these new language types:

https://github.com/anchore/grype/blob/6a5b87c79aaf41e652f4768b09a6b62980eaf641/test/integration/compare_sbom_input_vs_lib_test.go#L57-L68

**Why is this needed**:
Prove ou

[2022-07-11 23:15] freedom-isnotanarchy opened #824 "Add --only-notfixed to complete the existing and useful --only-fixed"
**Add --only-notfixed  to complete the existing and useful --only-fixed**:

**Why is this needed**:

The addition of "--only-fixed", was a useful flag that helps Organizations prioritize and focus their response.

Similarly, the proposed addition of "--only-notfixed", will help both individual Organizations as well as the entire Security Community, to address a continuous technical backlog of fixe

[2022-07-12 02:01] cpendery commented on #155
The switch over to using Gorm around 0.34.0 (I can't find which release the change was made rn) fixed this issue. I can currently access the database using the Grype apis with no issues. @spiffcs I think this can be closed

[2022-07-12 14:21] #155 closed, assigned to luhring

[2022-07-12 18:30] spiffcs commented on #773
Thanks for the bump on this issue @Turbots and thank you @ThomasVitale for filing the issue. I'm working on closing a PR for grype at the moment and then will pick this up and resolve the FP based on the evidence provided and related support that's been listed.